<template>
  <div class="footer">
    <div class="footer-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-sm">
            <div class="footer-content">
              <div class="footer-title">
                <h4 class="footer-title-text">Support Phone</h4>
                <p class="footer-title-caption">24 HOURS A DAY</p>
              </div>
              <div class="footer-body">
                <p class="footer-text-headline">+01 234 567 890 </p>
              </div>
            </div>
          </div>
          <div class="col-sm">
            <div class="footer-content">
              <div class="footer-title">
                <h4 class="footer-title-text">Connect With Us</h4>
                <p class="footer-title-caption">SOCIAL MEDIA CHANNELS</p>
              </div>
              <div class="footer-body">
                <div class="social-media-items">
                  <a href="http://" class="social-media-item">
                    <fa :icon="['fab', 'instagram']" fixed-width/>
                  </a>
                  <a href="http://" class="social-media-item">
                    <fa :icon="['fab', 'twitter']" fixed-width/>
                  </a>
                  <a href="http://" class="social-media-item">
                    <fa :icon="['fab', 'facebook-f']" fixed-width/>
                  </a>
                  <a href="http://" class="social-media-item">
                    <fa :icon="['fab', 'youtube']" fixed-width/>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm">
            <div class="footer-content">
              <div class="footer-title">
                <h4 class="footer-title-text">Newsletter</h4>
                <p class="footer-title-caption">SIGN UP FOR SPECIAL OFFERS</p>
              </div>
              <div class="footer-body">
                <div class="footer-form">
                  <div class="input-group mb-2 mr-sm-2 pt-0">
                    <input type="text" class="form-control" placeholder="EMAIL">
                    <div class="input-group-suffix">
                      <button class="btn btn-subscribe" type="button">SUBSCRIBE</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <div class="col-sm">
            <ul class="nav nav-footer">
              <li class="nav-item">
                <a class="nav-link active" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Rooms</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
              </li>
            </ul>
          </div>
          <div class="col-sm-4">
            <div class="d-flex flex-row">
              <div class="p-2">Flex item 1</div>
              <div class="p-2">Flex item 2</div>
              <div class="p-2">Flex item 3</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import FontAwesomeIcon from '@fortawesome/vue-fontawesome'

  export default {
    components: {
      'fa': FontAwesomeIcon
    }
  }

</script>

<style lang="scss">
  .footer{
    .footer-wrapper {
      background: #1C1C1D;
      color: #fff;
      padding: 49px 0;
    }
    .footer-bottom {
      background: #151516;
      color: #fff;
      padding: 34px 0;
    }
  }
  .footer-title{
    .footer-title-text{
      font-size: 1.4em;
    }
    .footer-title-caption{
      font-size: .8em;
      letter-spacing: 1.1px;
      color: #878788;
    }
  }
  .nav-footer{
    .nav-item{
      .nav-link{
        color: #fff;
        font-size: .9em;
        transition: linear .2s color;
        &:hover{
          color:#878788;
        }
      }
    }
  }
  .social-media-items{
    .social-media-item{
      color: #fff;
      font-size: 1.5em;
      transition: linear .2s color;
      &:hover{
        color:#878788;
      }
      &:not(:first-child) {
        margin-left: 15px;
      }
    }
  }
  .footer-text-headline{
    font-size: 1.6em;
  }
  .footer-form{
    .input-group{
      .form-control{
        border-radius: 0 !important;
        background: #151516;
        border: 0;
        padding: 13px 12px;
        color: #fff;
      }
      .input-group-suffix{
        .btn{
          border-radius: 0 !important;
        }
      }
      input, button {
        &:focus {
          box-shadow: none;
          border: none;
          outline: none;
        }
      }
    }   
  }
  .btn-subscribe{
    background: #C19B77;
    color: #fff;
    font-size: .76em;
    letter-spacing: 1.1px;
    font-weight: bold;
    height: 100%;
    min-width: 120px;
  }
</style>


