<template>
  <nav class="navbar navbar-custom navbar-expand-md navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="">Grand Atma Hotel</a>
      <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
          aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" href="http://localhost:8080/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://localhost:8080/search">Rooms</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu" aria-labelledby="dropdownId">
              <a class="dropdown-item" href="#">Action 1</a>
              <a class="dropdown-item" href="#">Action 2</a>
            </div>
          </li>
          <li class="nav-item">
            <div class="d-flex flex-row align-items-center h-100">
              <div class="nav-suffix" v-if="getToken">
                <div class="dropdown show">
                  <a href="#" class="color-primary my-0" data-toggle="dropdown">
                    {{ userLogin.username }}
                  </a>
                  <div class="dropdown-menu dropdown-menu-right">
                    <a href="#" class="nav-link">Booking History</a>
                    <a href="#" class="nav-link" @click="logout">Logout</a>
                  </div>
                </div>
              </div>
              <div class="nav-suffix" v-else>
                <div class="dropdown show">
                  <a class="nav-link dropdown-toggle pull-right" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    LOGIN
                  </a>
                  <div class="dropdown-menu dropdown-menu-right" >
                    <div class="form-group">
                      <label>Username</label>
                      <input type="text" class="form-control" v-model="loginForm.username"/>
                    </div>
                    <div class="form-group">
                      <label>Password</label>
                      <input type="password" class="form-control" v-model="loginForm.password"/>
                    </div>
                    <button class="btn btn-solid btn-sigah-second" @click="login(loginForm)">Login</button>
                  </div>
                </div>
              </div>
              <div class="nav-suffix">
                <div class="dropdown show">
                  <a class="nav-link dropdown-toggle pull-right" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <font-awesome-icon class="icon-primary" :icon="['fas', 'shopping-cart']"/>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right cart-custom">
                    <h2 class="cart-title">ROOM ORDERS</h2>
                    <div class="d-flex flex-column">
                      <div class="items-cart" v-if="cartData !== undefined">
                        <div class="item-cart d-flex flex-row" v-for="item in cartData" :key="item.id">
                          <div class="cart-action">
                            <a href="#">
                              <font-awesome-icon class="icon-second" :icon="['fas', 'times']"/>
                            </a>
                          </div>
                          <div class="cart-order">
                            <p class="cart-order-name">{{ item.room_type.name }}</p>
                            <p class="cart-order-bed">{{ item.bed_type.name }}</p>
                          </div>
                        </div>
                        <button class="btn btn-solid btn-sigah-second" @click="$router.push({ name: 'booking' })">CHECKOUT</button>
                      </div>
                      <h6 class="cart-null" v-else>Data KOSONG</h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    
  </nav>
</template>

<script>
 import FontAwesomeIcon from '@fortawesome/vue-fontawesome'
 import { mapState, mapActions, mapMutations } from 'vuex'
 import Cookies from 'js-cookie'
export default {
  components: {
    FontAwesomeIcon
  },
  data() {
    return {
      loginForm: {},
    }
  },
  computed: {
    ...mapState({
      userLogin: state => state.auth.user
    }),
    cartData() {
      return Cookies.getJSON('cart')
    },
    getToken() {
      return Cookies.get('auth')
    }
  },
  methods: {
    ...mapMutations({
      setUser: 'auth/setUser',
      setToken: 'auth/setToken'
    }),
    ...mapActions({
      loginAuth: 'auth/login',
      logoutAuth: 'auth/logout',
      validateAuth: 'auth/validate',
    }),
    login(payload) {
      this.$validator.validateAll()
      .then(res => {
        const proses = async () => {
          try {
            var auth = await this.loginAuth(payload)
            this.setToken(auth.access_token)
            var user = await this.validateAuth()

            switch (user.role.id) {
              case 1:
              case 2:
                this.$router.push({name: 'dashboard'})
                break;
              case 3:
                this.$router.go({name: 'homepage'})
                break;
            }
          } catch (error) {
            console.log(error)
          }
        }
        if (res) {
          proses()
        }
      })
    },
    logout() {
      this.logoutAuth().
      then( res => {
        if (res) {
          $router.go({ name: 'homepage' })
        }
      })
    }
  }
}
</script>

<style lang="scss">
  .navbar-custom{
    z-index: 999;
    background: #1C1C1D !important;
    height: 60px;
    .navbar-brand{
      color: #fff;
    }
    .navbar-nav{
      .nav-item{
        &.active{
          .nav-link{
            color: #fff;
          }
        }
        .nav-link{
          color: #878788;
          font-size: 0.82em;
        }
      }
    }
  }
  .nav-suffix{
    padding: 0px 9px;
  }

  .cart-custom{
    width: 320px;
    .cart-title{
      font-size: .9em;
    }
    .cart-order{
      display: flex;
      flex-direction: row;
    }
  }
</style>
