<template>
  <div id="slideHome" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#slideHome" data-slide-to="0" class="active"></li>
      <li data-target="#slideHome" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item carousel-custom active">
        <img class="d-block w-100" src="http://localhost:8000/storage/images/parallax-4.jpg" alt="First slide" />
        <div class="carousel-wrapper d-none d-md-block">
          <p class="carousel-caption-text">LUXURY HOTEL & BEST RESORT</p>
          <h5 class="carousel-title">ENJOY A LUXURY EXPERIENCE</h5>
        </div>
      </div>
    </div>
    <div class="booking-search">
      <div class="booking-search-wrapper">
        <div class="booking-search-box">
          <div class="form-group">
            <label>CHECK IN</label>
            <input type="date" name="" id="" class="form-control" placeholder="" aria-describedby="helpId">
          </div>
          <div class="form-group">
            <label>CHECK OUT</label>
            <input type="date" name="" id="" class="form-control" placeholder="" aria-describedby="helpId">
          </div>
          <div class="form-group">
            <label>ADULT</label>
            <input type="number" name="" id="" class="form-control" placeholder="" aria-describedby="helpId">
          </div>
          <div class="form-group">
            <label>CHILD</label>
            <input type="number" name="" id="" class="form-control" placeholder="" aria-describedby="helpId">
          </div>
          <button class="btn btn-solid btn-sigah-second" type="button">BOOK NOW</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {

  }

</script>

<style lang="scss">
  #slideHome{
  }
  .carousel-custom{
    height: calc(100vh - 60px);
    img{
      position: absolute;
      bottom: 0;
    }
    .carousel-wrapper{
      background: rgba(0, 0, 0, .6);
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: 100%;
      width: 100%;
    }
  }
  .booking-search{
    position: absolute;
    width: 100%;
    bottom: 0px;
    margin-bottom: 60px;
  }
  .booking-search-box{
    background: #fff;
    display: flex;
    flex: 1 1 auto;
    align-items: center;
  }

</style>
