<template>
  <div class="wrapper">
    <navbar/>
    <router-view></router-view>
    <footer-sigah/>
  </div>
</template>

<script>
import Navbar from './Navbar'
import FooterSigah from './Footer'

export default {
  components: {
    Navbar,
    FooterSigah
  }
}
</script>

<style lang="scss">
@import 'bootstrap/dist/css/bootstrap.min.css';
  @font-face {
    font-family: 'Gilda Display';
    src: url('../../../assets/fonts/GildaDisplay-Regular.ttf');
  }

  html, body{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
  }
  // COLOR 
  .color-primary{
    color: #C19B76;
  }
  // TYPOGRAPHY

  .subheading{
    font-size: .8em;
    letter-spacing: 1.7px;
    font-weight: 300;
    color: #A8A8A8;
    text-align: center;
  }
  .headline{
    text-align: center;
    line-height: 54px;
  }
  h2{
    font-family: 'Gilda Display', serif;
  }

  // COMPONENTS
  .btn{
    &.btn-solid{
      text-align: center;
      font-weight: 600;
      border-radius: 0;
      font-size: .79em;
      letter-spacing: 1.2px;
      padding: 12px 25px;
      width: auto;
      &.btn-sigah-primary{
       background: #C19B76;
       color: #fff;
      }
      &.btn-sigah-second{
        background: #000;
        color: #fff;
      }   
    }
    &.btn-outline{
      background: transparent;
      text-align: center;
      font-weight: 600;
      border: 2px solid #000;
      border-radius: 0;
      font-size: .79em;
      letter-spacing: 1.2px;
      padding: 12px 25px;
      width: auto;
      &.btn-sigah-primary{
       border: 2px solid #C19B76;
       color: #C19B76;
      }
      &.btn-sigah-second{
        border: 2px solid #000;
       color: #C19B76;
      }   
    }
    
  }

</style>
