<template>
  <div>
    <v-flex xs4 d-flex align-center>
      <v-subheader class="pl-0">{{ label }}</v-subheader>
    </v-flex>
    <v-flex xs8>
      <slot v-for="item in rows" :item="item"></slot>
    </v-flex>
  </div>
</template>

<script>
export default {
  props: {
    label: {
      type: String
    },
    rows: {
      type: Array,
      default: []
    }
  },
  methods: {
    addRow: () => {
      this.rows.push()
    }
  }
  
}
</script>
