<template>
  <v-container fluid>
    <v-navigation-drawer clipped fixed v-model="drawer" app>
      <v-list dense>
        <v-list-tile v-for="item in menuItems" v-if="item.component.name !== 'Login'" :key="item.id" @click="$router.push(item)">
          <v-list-tile-action>
            <v-icon>keyboard_arrow_right</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title >{{ item.component.name }}</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar app fixed clipped-left color="blue darken-3" dense dark>
      <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
      <v-toolbar-title>SIGAH</v-toolbar-title>
    </v-toolbar>
    <v-content>
      <v-container>
        <v-layout row wrap class="content-header">
          <v-toolbar color="transparent" flat height="50px">
            <v-toolbar-title>{{ this.$route.name }}</v-toolbar-title>
            <v-spacer/>
            <v-btn icon>
              <v-icon>search</v-icon>
            </v-btn>
            <v-btn icon>
              <v-icon>notifications</v-icon>
            </v-btn>
            <div class="profile">
              <v-menu offset-y>
                <v-btn flat slot="activator">{{ this.dataProfile.username }}</v-btn>
                <!-- <v-btn flat slot="activator">ASADASAS</v-btn> -->
                <v-list>
                  <v-list-tile @click="logout">
                    <v-list-tile-title>Logout</v-list-tile-title>
                  </v-list-tile>
                </v-list>
              </v-menu>
            </div>
          </v-toolbar>
        </v-layout>
      </v-container>
      <router-view></router-view>
    </v-content>
  </v-container>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import http from '@/service'

export default {
  data() {
    return {
      drawer: true,
      title: 'Dashboard'
    }
  },
  computed: {
    ...mapState({
      dataProfile: state => state.auth.user
    }),
    menuItems() {
      return this.$router.options.routes[1].children
    }
  },
  methods: {
    ...mapActions({
      logoutAuth: 'auth/logout'
    }),
    logout() {
      this.logoutAuth()
      .then(res => {
        if (res) {
          this.$router.push({ name: 'login'})
        }
      })
    }
  },
  mounted() {
  }
}

</script>
<style lang="scss">
  @import 'vuetify/dist/vuetify.css';
  @import 'material-design-icons-iconfont/dist/material-design-icons.css';
</style>
