<template>
  <v-container>
    <v-layout row wrap justify-end>
      <v-flex sm4 md2>
        <v-btn block color="primary" @click="formAction('insert')">
          Add Account Bank
        </v-btn>
      </v-flex>
    </v-layout>
    <v-layout>
        <v-flex xs12>
          <v-data-table
            :headers="dataHeader"
            :items="dataItems"
            hide-actions
            class="elevation-1"
          >
            <template slot="items" slot-scope="props">
              <td>{{ props.item.account_number }}</td>
              <td>{{ props.item.account_name }}</td>
              <td>{{ props.item.type }}</td>
              <td class="justify-center layout px-0">
                <v-btn icon class="mx-0" @click="formAction('update', props.item)">
                  <v-icon color="teal">edit</v-icon>
                </v-btn>
                <v-btn icon class="mx-0" @click="formAction('delete', props.item)">
                  <v-icon color="pink">delete</v-icon>
                </v-btn>
              </td>
            </template>
          </v-data-table>
        </v-flex>
      </v-layout>
      <v-dialog v-model="this.dialogStatus" persistent max-width="500">
        <v-card>
          <v-card-title class="headline">{{ dialogTitle }}</v-card-title>
          <v-card-text v-if="dialogMode == 'insert' || dialogMode == 'update'">
            <v-container grid-list-md>
              <v-layout wrap>
                <v-flex xs12>
                  <v-text-field
                    label="Account Number"
                    class="input-group"
                    v-model="dataForm.account_number"
                    :error-messages="errors.collect('account_number')"
                    v-validate="'required|numeric|min:10|max:15'"
                    data-vv-name="account_number"
                  ></v-text-field>
                  <v-text-field
                    label="Account Name"
                    class="input-group"
                    v-model="dataForm.account_name"
                    :error-messages="errors.collect('account_name')"
                    v-validate="'required'"
                    data-vv-name="account_name"
                  ></v-text-field>
                  <v-select
                    label="Type"
                    :items="dataType"
                    v-model="dataForm.type"
                    :error-messages="errors.collect('type')"
                    v-validate="'required'"
                    data-vv-name="type"
                  >
                  </v-select>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="green darken-1" flat @click.native="submit">{{ this.dialogBtn[0]}}</v-btn>
            <v-btn color="green darken-1" flat @click.native="dialogStatus = !dialogStatus">{{ this.dialogBtn[1] }}</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
  </v-container>
</template>

<script>

import { mapState, mapActions } from 'vuex'

export default {
  name: 'AccountBank',
  computed: {
    ...mapState({
      dataItems: state => state.account_bank.data,
    }),
    dialogCheck() {
      return this.dialogStatus
    },
    initForm() {
      return {
        id: null,
        name: ''
      }
    }
  },
  data() {
    return {
      dataHeader: [
        { text: 'Account Number', value: 'account_number', width: '250' },
        { text: 'Account Name', value: 'account_name' },
        { text: 'Type', value: 'type' },
        { text: 'Action', align: 'center', sortable: false, width: '150' }
      ],
      dataType: [
        { text: 'BCA', value: 'bca'},
        { text: 'BRI', value: 'bri'},
        { text: 'BNI', value: 'bni'},
        { text: 'Cimb Niaga', value: 'cimb_niaga'}
      ],
      e1: true ,
      dialogStatus: false,
      dialogMode: '',
      dialogTitle: '',
      dialogBtn: [],
      dataForm: {},
      searchForm: ''
    }
  },
  mounted() {
    this.initData()
  },
  methods: {
    ...mapActions({
      fatchAll: 'account_bank/index',
      store: 'account_bank/store',
      update: 'account_bank/update',
      destroy: 'account_bank/delete'
    }),
    formAction(mode, data = {}) {
      switch (mode) {
        case 'insert':
          this.dialogTitle = 'Create Account Bank'
          this.dialogBtn = ['Add', 'Close']
          this.dialogMode = 'insert'
          this.dataForm = this.initForm
          break;
        case 'update':
          this.dialogTitle = 'Update Account Bank'
          this.dialogBtn = ['Save', 'Cancel']
          this.dialogMode = 'update'       
          this.dataForm = data
          break;
        case 'delete':
          this.dialogTitle = 'Delete Account Bank'
          this.dialogBtn = ['Yes', 'No']
          this.dialogMode = 'delete'
          this.dataForm = data
          break;
      }
      this.dialogStatus = !this.dialogStatus
    },
    submit() {
      this.$validator.validateAll()
      .then((result) => {
        if (result) {
          switch (this.dialogMode) {
          case 'insert':
            this.insertData(this.dataForm)
            break;
          case 'update':
            this.updateData(this.dataForm)
            break;

          case 'delete':
            this.deleteData(this.dataForm.id)
            break;
          }
        this.clear()
        }
      })
    },
    clear() {
      this.dialogStatus = false
      setTimeout(() => {
        this.dialogTitle = this.dialogMode = ''
        this.clearForm()
      }, 500);
    },
    clearForm() {
      this.dataForm.id = null
      this.dataForm.name = ''
    },
    initData() {
      return new Promise((resolve, reject) => {
        this.fatchAll()
          .then(res => {
            resolve()
          })
      })
    },
    insertData(payload) {
      return new Promise((resolve, reject) => {
        this.store(payload)
          .then(res => {
            resolve()
          })
          .catch(err => {
            reject(err)
          })
      })
    },
    updateData(payload) {
      return new Promise((resolve, reject) => {
        this.update(payload)
          .then(res => {
            resolve()
          })
          .catch(err => {
            reject(err)
          })
      })
    },
    deleteData(id) {
      return new Promise((resolve, reject) => {
        this.destroy(id)
          .then(res => {
            this.clear()
            resolve()
          })
          .catch(err => {
            reject(err)
          })
      })
    }
  },
  watch: {
    dialogCheck() {
      this.$validator.reset()
    }
  }
}
</script>

<style>

</style>
