<template>
  <v-container>
    <v-layout row>
      <v-flex xs6>
        <v-flex>
          <v-subheader>
            Laporan Customer Baru
          </v-subheader>
          <v-data-table :headers="header1" :items="dataReport1" hide-actions class="elevation-1">
            <template slot="items" slot-scope="props">
              <td>{{ props.item.Bulan }}</td>
              <td class="text-xs-center">{{ props.item.Jumlah }}</td>
            </template>
          </v-data-table>
        </v-flex>
        <v-flex>
          <v-subheader>
            Laporan Tamu Per Jenis Kamar
          </v-subheader>
          <v-data-table :headers="header2" :items="dataReport2" hide-actions class="elevation-1">
            <template slot="items" slot-scope="props">
              <td>{{ props.item.RmType }}</td>
              <td>{{ props.item.Grup }}</td>
              <td>{{ props.item.Personal }}</td>
              <td class="text-xs-center">{{ props.item.Total }}</td>
            </template>
          </v-data-table>
        </v-flex>
        <v-flex>
          <v-subheader>
            Laporan Pendapatan Bulanan
          </v-subheader>
          <v-data-table :headers="header3" :items="dataReport3" hide-actions class="elevation-1">
            <template slot="items" slot-scope="props">
              <td>{{ props.item.Bulan }}</td>
              <td>{{ props.item.grup }}</td>
              <td>{{ props.item.personal }}</td>
              <td class="text-xs-center">{{ props.item.total }}</td>
            </template>
          </v-data-table>
        </v-flex>
      </v-flex>
      <v-flex xs6>
        <v-flex>
          <v-subheader>
            Laporan Pendapatan Tahunan
          </v-subheader>
          <v-data-table :headers="header4" :items="dataReport4" hide-actions class="elevation-1">
            <template slot="items" slot-scope="props">
              <td>{{ props.item.Year }}</td>
              <td>{{ props.item.Grup }}</td>
              <td>{{ props.item.Personal }}</td>
              <td class="text-xs-center">{{ props.item.Total }}</td>
            </template>
          </v-data-table>
        </v-flex>
        <v-flex>
          <v-subheader>
            Laporan Top 5 Customer
          </v-subheader>
          <v-data-table :headers="header5" :items="dataReport5" hide-actions class="elevation-1">
            <template slot="items" slot-scope="props">
              <td>{{ props.item.name }}</td>
              <td>{{ props.item.qty }}</td>
              <td class="text-xs-center">{{ props.item.amount }}</td>
            </template>
          </v-data-table>
        </v-flex>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  import {
    mapState,
    mapActions
  } from 'vuex'

  export default {
    name: 'Dashboard',
    data() {
      return {
        header1: [{
            text: 'Month',
            value: 'Bulan',
            sortable: false
          },
          {
            text: 'Qty',
            value: 'Jumlah',
            width: '150px',
            align: 'center',
            sortable: false
          },
        ],
        header2: [{
            text: 'Bed Type',
            value: 'RmType',
            sortable: false
          },
          {
            text: 'Group',
            value: 'Grup',
            sortable: false
          },
          {
            text: 'Personal',
            value: 'Personal',
            sortable: false
          },
          {
            text: 'Qty',
            value: 'Total',
            width: '150px',
            align: 'center',
            sortable: false
          },
        ],
        header3: [{
            text: 'Month',
            value: 'Bulan',
            sortable: false
          },
          {
            text: 'Group',
            value: 'grup',
            sortable: false
          },
          {
            text: 'Personal',
            value: 'personal',
            sortable: false
          },
          {
            text: 'Total',
            value: 'total',
            width: '150px',
            align: 'center',
            sortable: false
          },
        ],
        header4: [{
            text: 'Year',
            value: 'Year',
            sortable: false
          },
          {
            text: 'Group',
            value: 'Grup',
            sortable: false
          },
          {
            text: 'Personal',
            value: 'Personal',
            sortable: false
          },
          {
            text: 'Total',
            value: 'Total',
            width: '150px',
            align: 'center',
            sortable: false
          },
        ],
        header5: [{
            text: 'Name',
            value: 'name',
            sortable: false
          },
          {
            text: 'Qty',
            value: 'qty',
            sortable: false
          },
          {
            text: 'Total',
            value: 'amount',
            width: '150px',
            align: 'center',
            sortable: false
          },
        ],
      }
    },
    computed: {
      ...mapState({
        dataReport1: state => state.report.data1,
        dataReport2: state => state.report.data2,
        dataReport3: state => state.report.data3,
        dataReport4: state => state.report.data4,
        dataReport5: state => state.report.data5
      })
    },
    methods: {
      ...mapActions({
        report1: 'report/tamuTahunan',
        report2: 'report/tamuPerJenisKamar',
        report3: 'report/pendapatanBulanan',
        report4: 'report/pendapatanTahunan',
        report5: 'report/top5Customer',
      }),
      initData() {
        const report1 = this.report1()
        const report2 = this.report2()
        const report3 = this.report3()
        const report4 = this.report4()
        const report5 = this.report5()
        Promise.all([
          report1, report2, report3, report4, report5
        ])
      },
    },
    mounted() {
      this.initData()
    }
  }

</script>
