<template>
  <v-container>
    <v-layout row wrap justify-end>
      <v-flex sm md4 lg2>
        <v-btn block color="primary" type="file" @click="() => { dialog = !dialog }" >
            Uploud Image
        </v-btn>
      </v-flex>
    </v-layout>
    <v-layout row>
      <v-flex xs12>
        <v-card>
          <v-container fluid grid-list-sm>
            <v-layout row wrap>
              <v-flex xs2 v-for="item in dataImage" :key="item.id">
                <img :src="`http://localhost:8000/storage/images/${item.file_name}`" alt="lorem" width="100%" height="100%">
              </v-flex>
            </v-layout>
          </v-container>
        </v-card>
      </v-flex>
    </v-layout>
    <v-dialog v-model="dialog" max-width="500">
      <v-card>
        <v-card-title class="headline">Uploud Image</v-card-title>
        <v-card-text>
          <v-container>
            <v-layout>
              <v-flex xs12>
                <input 
                type="file" 
                class="input-group" 
                @change="onFileSelected"
                :error-messages="errors.collect('fileImage')"
                v-validate="'required|ext:jpg,png'"
                data-vv-name="fileImage"/>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn @click="insertData(imageSelected)">Submit</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>

import { mapState, mapActions, mapGetters } from 'vuex'

export default {
  name: 'ImageUploud',
  computed: {
    ...mapState({
      dataImage: state => state.image.data
    })
  },
  data() {
    return {
      dialog: false,
      imageSelected: null
    }
  },
  methods: {
    ...mapActions({
      indexImage: 'image/index',
      storeImage: 'image/store'
    }),
    onFileSelected(event) {
      this.imageSelected = event.target.files[0]
    },
    initData() {
      this.indexImage()
      this.dialog = false
    },
    insertData(payload) {
      this.$validator.validateAll()
      .then((result) => {
        if (result) {
          this.storeImage(payload)
          .then(res => {
            if (res) {
              this.initData()
              this.clearForm()
            }
          })
        }
      })
    },
    clearForm() {
      this.imageSelected = null
    }
  },
  mounted() {
    this.initData()
  },
  watch: {
     
  }
}
</script>

<style>

</style>
