<template>
  <v-container fluid fill-height>
    <v-layout align-center justify-center>
      <v-flex xs6 sm8 md4>
        <v-card class="elevation-12">
          <v-form @submit.prevent="login(dataInput)">
            <v-toolbar dark color="primary">
              <v-toolbar-title>Login</v-toolbar-title>
              <v-spacer></v-spacer>
            </v-toolbar>
            <v-card-text>
              <v-alert type="error" :value="this.errorLogin.errorStatus">
                {{ this.errorLogin.errorMessage }}
              </v-alert>
                <v-text-field
                prepend-icon="person" 
                label="Username" 
                id="username"
                type="text" 
                v-model="dataInput.username"
                :error-messages="errors.collect('username')"
                v-validate="'required'"
                data-vv-name="username"
                single-line/>
                <v-text-field
                prepend-icon="lock" 
                label="Password" 
                id="password" 
                type="password" 
                v-model="dataInput.password"
                :error-messages="errors.collect('password')"
                v-validate="'required'"
                data-vv-name="password"
                single-line/>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="primary" @click="login(dataInput)">Login</v-btn>
            </v-card-actions>
          </v-form>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import { mapState, mapActions, mapMutations } from 'vuex'

export default {
  name: 'Login',
  data() {
    return {
      dataInput: {},
      errorLogin: {
        errorStatus: false,
        errorMessage: ''
      }
    }
  },
  methods: {
    ...mapMutations({
      setUser: 'auth/setUser',
      setToken: 'auth/setToken'
    }),
    ...mapActions({
      loginAuth: 'auth/login',
      validateAuth: 'auth/validate',
    }),
    login(payload) {
      this.$validator.validateAll()
      .then(res => {
        const proses = async () => {
          try {
            var auth = await this.loginAuth(payload)
            this.setToken(auth.access_token)
            var user = await this.validateAuth()

            switch (user.role.id) {
              case 1:
              case 2:
                this.$router.push({name: 'dashboard'})
                break;
              case 3:
                this.$router.go({name: 'homepage'})
                break;
            }
          } catch (err) {
            if (err) {
              this.setError('Username or Password invalid')
            }
          }
        }
        if (res) {
          proses()
        }
      })
    },
    setError(message) {
      this.errorLogin.errorStatus = true
      this.errorLogin.errorMessage = message
    }
  }
}
</script>
<style lang="scss">
  @import 'vuetify/dist/vuetify.min.css';
  @import 'material-design-icons-iconfont/dist/material-design-icons.css';

</style>
