<template>
  <v-container>
    <v-layout row wrap justify-end>
      <v-flex sm4 md2>
        <v-btn block color="primary" @click="formAction('insert')">
          Add Reservation
        </v-btn>
      </v-flex>
    </v-layout>
    <v-layout>
      <v-flex xs12>
        <v-data-table :headers="dataHeader" :items="dataItems" hide-actions class="elevation-1">
          <template slot="items" slot-scope="props">
            <td>{{ props.item.code }}</td>
            <td>{{ props.item.type }}</td>
            <td>{{ props.item.start_date }}</td>
            <td>{{ props.item.end_date }}</td>
            <td>{{ props.item.guest.name }}</td>
            <td>{{ !props.item.deleted_at ? 'Active' : 'Cancel' }}</td>
            <td class="justify-center layout px-0">
              <v-btn icon class="mx-0" @click="formAction('update', props.item)">
                <v-icon color="teal">edit</v-icon>
              </v-btn>
              <v-btn icon class="mx-0" @click="formAction('delete', props.item)">
                <v-icon color="pink">delete</v-icon>
              </v-btn>
            </td>
          </template>
        </v-data-table>
      </v-flex>
    </v-layout>
    <v-dialog v-model="this.dialogStatus" persistent max-width="700">
      <v-card>
        <v-card-title class="headline">{{ dialogTitle }}</v-card-title>
        <v-card-text v-if="dialogMode == 'insert' || dialogMode == 'update'">
          <v-container grid-list-md>
            <v-layout wrap>
              <v-flex xs12>
                <v-layout column>
                  <v-layout row>
                    <v-flex xs6>
                      <v-text-field label="Adult" class="input-group" v-model="dataForm.adult" :error-messages="errors.collect('adult')" v-validate="'required'"
                        data-vv-name="adult"></v-text-field>
                    </v-flex>
                    <v-flex xs6>
                      <v-text-field label="Child" class="input-group" v-model="dataForm.child" :error-messages="errors.collect('child')" v-validate="'required'"
                        data-vv-name="child"></v-text-field>
                    </v-flex>
                  </v-layout>
                  <v-layout row>
                    <v-flex xs6>
                      <v-menu ref="menu1" lazy :close-on-content-click="false" v-model="menu1" transition="scale-transition" offset-y full-width
                        :nudge-right="40" min-width="290px" :return-value.sync="dataForm.start_date">
                        <v-text-field slot="activator" label="Start Date" v-model="dataForm.start_date" readonly></v-text-field>
                        <v-date-picker v-model="date" @input="$refs.menu1.save(date)"></v-date-picker>
                      </v-menu>
                    </v-flex>
                    <v-flex xs6>
                      <v-menu ref="menu2" lazy :close-on-content-click="false" v-model="menu2" transition="scale-transition" offset-y full-width
                        :nudge-right="40" min-width="290px" :return-value.sync="dataForm.end_date">
                        <v-text-field slot="activator" label="End Date" v-model="dataForm.end_date" readonly></v-text-field>
                        <v-date-picker v-model="date" @input="$refs.menu2.save(date)"></v-date-picker>
                      </v-menu>
                    </v-flex>
                  </v-layout>
                  <v-select :items="dataType" v-model="dataForm.type" label="Type"></v-select>
                </v-layout>

                <v-layout column>
                  <v-subheader class="pl-0">Guest Form</v-subheader>
                  <v-text-field label="Name" class="input-group" v-model="dataForm.guest.name" :error-messages="errors.collect('guest.name')"
                    v-validate="'required'" data-vv-name="guest.name"></v-text-field>
                  <v-layout row>
                    <v-flex xs6>
                      <v-text-field label="NIP" class="input-group" v-model="dataForm.guest.nip" :error-messages="errors.collect('guest_nip')"
                        v-validate="'required'" data-vv-name="guest_nip"></v-text-field>
                    </v-flex>
                    <v-flex xs6>
                      <v-text-field label="Phone" class="input-group" v-model="dataForm.guest.phone" :error-messages="errors.collect('guest_phone')"
                        v-validate="'required'" data-vv-name="guest_phone"></v-text-field>
                    </v-flex>
                  </v-layout>
                  <v-text-field label="Email" class="input-group" v-model="dataForm.guest.email" :error-messages="errors.collect('guest_email')"
                    v-validate="'required'" data-vv-name="guest_email"></v-text-field>
                  <v-text-field label="Address" class="input-group" v-model="dataForm.guest.address" :error-messages="errors.collect('guest.address')"
                    v-validate="'required'" data-vv-name="guest.address"></v-text-field>
                  <v-text-field v-if="dataForm.type === 'group'" label="Institusi" class="input-group" v-model="dataForm.guest.name_institusi"
                    :error-messages="errors.collect('guest.name_institusi')" v-validate="'required'" data-vv-name="guest.name_institusi"></v-text-field>
                </v-layout>
              </v-flex>
            </v-layout>
            <v-layout column>
              <v-select :items="dataRoom" v-model="dataForm.rooms" item-value="code" item-text="room_type.name" label="Room" autocomplete
                multiple>
                <template slot="selection" slot-scope="data">
                  <v-chip close @input="data.parent.selectItem(data.item)" :selected="data.selected" class="chip--select-multi" :key="JSON.stringify(data.item)">
                    <!-- <v-avatar>
                <img :src="">
              </v-avatar> -->
                    {{ data.item.code + ' | ' + data.item.room_type.name }}
                  </v-chip>
                </template>
                <template slot="item" slot-scope="data">
                  <template>
                    <!-- <v-list-tile-avatar>
                <img :src="data.item.avatar">
              </v-list-tile-avatar> -->
                    <v-list-tile-content>
                      <v-list-tile-title v-html="data.item.code"></v-list-tile-title>
                      <v-list-tile-sub-title v-html="data.item.room_type.name"></v-list-tile-sub-title>
                    </v-list-tile-content>
                  </template>
                </template>
              </v-select>
            </v-layout>
            <v-layout column>
              <v-flex xs12>
                <v-subheader class="pl-0">Payment Form</v-subheader>
                <v-select :items="selectType" v-model="dataForm.payment.account_type" label="Payment Type" single-line></v-select>
                <v-select v-if="dataForm.payment.account_type === 'App\\AccountBank'" :items="dataAccountBank" v-model="dataForm.payment.account_id" item-text="type" item-value="account_number" label="Select" single-line></v-select>
                <v-select v-if="dataForm.payment.account_type === 'App\\CreditCard'" :items="dataCreditCard" v-model="dataForm.payment.account_id" item-text="type" item-value="account_number" label="Select" single-line></v-select>
                <v-text-field label="Information" class="input-group" v-model="dataForm.payment.information" multi-line></v-text-field>
                <v-switch v-if="dialogMode == 'update'" :label="`Payment Status: ${dataForm.payment.payment_date}`" v-model="dataForm.payment.payment_date" ></v-switch>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green darken-1" flat @click.native="submit">{{ this.dialogBtn[0]}}</v-btn>
          <v-btn color="green darken-1" flat @click.native="dialogStatus = !dialogStatus">{{ this.dialogBtn[1] }}</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
  import {
    mapState,
    mapActions
  } from 'vuex'

  export default {
    name: 'Reservation',
    computed: {
      ...mapState({
        dataItems: state => state.reservation.data,
        dataRoom: state => state.room.data,
        dataAccountBank: state => state.account_bank.data,
        dataCreditCard: state => state.credit_card.data,
      }),
      dialogCheck() {
        return this.dialogStatus
      },
      initForm() {
        return {
          id: null,
          name: '',
          guest: {
            name: '',
            nip: '',
            phone: '',
            email: '',
            address: '',
            name_institusi: '',
          },
          rooms: [],
          payment: {}
        }
      }
    },
    data() {
      return {
        dataHeader: [{
            text: 'Code',
            value: 'code',
            width: '150'
          },
          {
            text: 'Type',
            value: 'type'
          },
          {
            text: 'Start Date',
            value: 'start_date'
          },
          {
            text: 'End Date',
            value: 'end_date'
          },
          {
            text: 'Guest Name',
            value: 'guest.name'
          },
          {
            text: 'Status',
            value: 'deleted_at'
          },
          {
            text: 'Action',
            align: 'center',
            sortable: false,
            width: '150'
          }
        ],
        dataType: [{
            text: 'Personal',
            value: 'personal'
          },
          {
            text: 'Group',
            value: 'group'
          },
        ],
        selectType: [
            {
              text: 'Account Bank',
              value: 'App\\AccountBank'
            },
            {
              text: 'Credit Card',
              value: 'App\\CreditCard'
            },
          ],
        e1: true,
        e2: false,
        menu1: null,
        menu2: null,
        date: null,
        dialogStatus: false,
        dialogMode: '',
        dialogTitle: '',
        dialogBtn: [],
        dataForm: {},
        searchForm: ''
      }
    },
    mounted() {
      this.initData()
    },
    methods: {
      ...mapActions({
        fatchAccountBank: 'account_bank/index',
        fatchCreditCard: 'credit_card/index',
        fatchRoom: 'room/index',
        fatchAll: 'reservation/index',
        store: 'reservation/store',
        update: 'reservation/update',
        destroy: 'reservation/delete'
      }),
      formAction(mode, data = {}) {
        switch (mode) {
          case 'insert':
            this.dialogTitle = 'Create Reservation'
            this.dialogBtn = ['Add', 'Close']
            this.dialogMode = 'insert'
            this.dataForm = Object.assign({}, this.initForm)
            break;
          case 'update':
            this.dialogTitle = 'Update Reservation'
            this.dialogBtn = ['Save', 'Cancel']
            this.dialogMode = 'update'
            this.dataForm = Object.assign({}, data)
            break;
          case 'delete':
            this.dialogTitle = 'Delete Reservation'
            this.dialogBtn = ['Yes', 'No']
            this.dialogMode = 'delete'
            this.dataForm = Object.assign({}, data)
            break;
        }
        this.dialogStatus = !this.dialogStatus
      },
      submit() {
        this.$validator.validateAll()
          .then((result) => {
            if (result) {
              switch (this.dialogMode) {
                case 'insert':
                  this.insertData(this.dataForm)
                  break;
                case 'update':
                  this.updateData(this.dataForm)
                  break;
                case 'delete':
                  this.deleteData(this.dataForm.id)
                  break;
              }
              this.clear()
            }
          })
      },
      clear() {
        this.dialogStatus = false
        setTimeout(() => {
          this.dialogTitle = this.dialogMode = ''
          this.dataForm = Object.assign({}, this.initForm)
        }, 500);
      },
      initData() {
        return new Promise((resolve, reject) => {
          this.fatchRoom()
          this.fatchAccountBank()
          this.fatchCreditCard()
          this.fatchAll()
            .then(res => {
              resolve()
            })
        })
      },
      insertData(payload) {
        return new Promise((resolve, reject) => {
          this.store(payload)
            .then(res => {
              resolve()
            })
            .catch(err => {
              reject(err)
            })
        })
      },
      updateData(payload) {
        return new Promise((resolve, reject) => {
          this.update(payload)
            .then(res => {
              resolve()
            })
            .catch(err => {
              reject(err)
            })
        })
      },
      deleteData(id) {
        return new Promise((resolve, reject) => {
          this.destroy(id)
            .then(res => {
              this.clear()
              resolve()
            })
            .catch(err => {
              reject(err)
            })
        })
      }
    },
    watch: {
      dialogCheck() {
        this.$validator.reset()
      }
    }
  }

</script>

<style>


</style>
