<template>
  <v-container>
    <v-layout row wrap justify-end>
      <v-flex sm4 md2>
        <v-btn block color="primary" @click="formAction('insert')">
          Add Room Type
        </v-btn>
      </v-flex>
    </v-layout>
    <v-layout>
      <v-flex xs12>
        <v-data-table :headers="dataHeader" :items="dataItems" hide-actions class="elevation-1">
          <template slot="items" slot-scope="props">
            <td>{{ props.item.code }}</td>
            <td>{{ props.item.name }}</td>
            <td>
              <v-chip v-for="(bed_type, key) in props.item.bed_types.slice(0, 5)" :key="key">{{ bed_type.name }}</v-chip>
            </td>
            <td>{{ props.item.price }}</td>
            <td class="justify-center layout px-0">
              <v-btn icon class="mx-0" @click="formAction('update', props.item)">
                <v-icon color="teal">edit</v-icon>
              </v-btn>
              <v-btn icon class="mx-0" @click="formAction('delete', props.item)">
                <v-icon color="pink">delete</v-icon>
              </v-btn>
            </td>
          </template>
        </v-data-table>
      </v-flex>
    </v-layout>
    <v-dialog v-model="this.dialogStatus" persistent max-width="700">
      <v-card>
        <v-card-title class="headline">{{ dialogTitle }}</v-card-title>
        <v-card-text v-if="dialogMode == 'insert' || dialogMode == 'update'">
          <v-container grid-list-md>
            <v-layout wrap>
              <v-flex xs12>
                <v-layout row wrap>
                  <v-flex xs12 sm4>
                    <v-text-field
                      label="Code"
                      v-model="dataForm.code"
                      :error-messages="errors.collect('code')"
                      v-validate="'required'"
                      data-vv-name="code"
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm8>
                    <v-text-field
                      label="Name"
                      v-model="dataForm.name"
                      :error-messages="errors.collect('name')"
                      v-validate="'required'"
                      data-vv-name="name"
                    ></v-text-field>
                  </v-flex>
                </v-layout>
                <v-layout row wrap>
                  <v-flex xs12 sm4>
                    <v-text-field
                      label="Size"
                      v-model="dataForm.size"
                      :error-messages="errors.collect('size')"
                      v-validate="'required'"
                      data-vv-name="size"
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm4>
                    <v-text-field
                      label="Max Guests"
                      v-model="dataForm.max_guests"
                      :error-messages="errors.collect('max_guests')"
                      v-validate="'required'"
                      data-vv-name="max_guests"
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm4>
                    <v-text-field
                      label="Price"
                      v-model="dataForm.price"
                      :error-messages="errors.collect('price')"
                      v-validate="'required'"
                      data-vv-name="price"
                    ></v-text-field>
                  </v-flex>
                </v-layout>
                <v-layout row wrap>
                  <v-flex xs12>
                    <v-text-field
                      label="Description"
                      v-model="dataForm.description"
                      :error-messages="errors.collect('description')"
                      v-validate="'required'"
                      data-vv-name="description"
                      multi-line
                    ></v-text-field>
                  </v-flex>
                </v-layout>
                <v-layout row wrap>
                  <v-flex xs12>
                    <v-subheader>Image</v-subheader>
                    <v-flex xs4 v-for="item in dataForm.images" :key="item.id">
                      <img :src="item.url" alt=""/>
                    </v-flex>
                  </v-flex>
                </v-layout>
                <v-layout row wrap>
                  <v-flex xs12>
                    <v-select
                      label="Facility"
                      :items="dataFacility"
                      item-value="id"
                      item-text="name"
                      v-model="dataForm.facilities"
                      multiple
                      chips
                      autocomplete
                    ></v-select>
                  </v-flex>
                </v-layout>
                <v-layout row wrap>
                  <v-flex xs12>
                    <v-layout row wrap>
                      <v-flex xs10>
                        <v-subheader class="pl-0">Bed Type</v-subheader>
                      </v-flex>
                      <v-flex xs2 class="text-xs-center">
                        <v-btn dark color="primary" @click="dialogSecond = !dialogSecond">
                          <v-icon dark>add</v-icon>
                        </v-btn>
                      </v-flex>
                    </v-layout>
                    <v-layout row>
                      <v-flex xs12>
                        <v-data-table
                          :headers="dataHeader2"
                          :items="dataForm.bed_types"
                          hide-actions
                          class="elevation-1"
                        >
                          <template slot="items" slot-scope="props">
                            <td>{{ props.item.name }}</td>
                            <td class="text-xs-center">{{ props.item.pivot.qty }}</td>
                            <td class="justify-center layout px-0">
                              <v-btn icon class="mx-0" @click="removeBedType(props.item)">
                                <v-icon color="pink">delete</v-icon>
                              </v-btn>
                            </td>
                          </template>
                        </v-data-table>
                      </v-flex>
                    </v-layout>
                  </v-flex>
                </v-layout>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green darken-1" flat @click.native="submit">{{ this.dialogBtn[0]}}</v-btn>
          <v-btn color="green darken-1" flat @click.native="dialogStatus = !dialogStatus">{{ this.dialogBtn[1] }}</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="dialogSecond" max-width="450">
        <v-card>
          <v-card-title class="headline">Add Bed Type</v-card-title>
          <v-card-text>
            <v-container>
              <v-layout row wrap>
                <v-flex xs12 sm4 d-flex align-center>
                  <v-subheader v-text="'Bed Type'"></v-subheader>
                </v-flex>
                <v-flex xs12 sm8>
                  <v-select
                    :items="dataBed"
                    v-model="dataForm2.id"
                    item-value="id"
                    item-text="name"
                    single-line
                    autocomplete
                  ></v-select>
                </v-flex>
              </v-layout>
              <v-layout row wrap>
                <v-flex xs12 sm4 d-flex align-center>
                  <v-subheader v-text="'Qty'"></v-subheader>
                </v-flex>
                <v-flex xs12 sm8>
                  <v-text-field
                    v-model="dataForm2.qty"
                    name="qty"
                    single-line
                  ></v-text-field>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="green darken-1" flat="flat" @click.native="() => { addBedType(dataForm2); dialogSecond = false; }">Add</v-btn>
            <v-btn color="green darken-1" flat="flat" @click="dialogSecond = false">Cancel</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
  </v-container>
</template>

<script>
  import {
    mapState,
    mapActions
  } from 'vuex'

  export default {
    name: 'RoomType',
    computed: {
      ...mapState({
        dataItems: state => state.room_type.data,
        dataFacility: state => state.facility.data,
        dataBed: state => state.bed_type.data,
      }),
      dialogCheck() {
        return this.dialogStatus
      },
      initForm() {
        return {
          id: null,
          name: '',
          bed_types: [],
          facilities: []
        }
      }
    },
    data() {
      return {
        dataHeader: [
          { text: 'Code', value: 'code', width: '50', sortable: false },
          { text: 'Name', value: 'name'},
          { text: 'Bed Type', value: 'item.name' },
          { text: 'Price', value: 'price' },
          { text: 'Action', align: 'center', sortable: false, width: '150' }
        ],
        dataHeader2: [
          { text: 'Name', value: 'name', width: '50', sortable: false },
          { text: 'Qty', value: 'qty', width: '50', sortable: false, align: 'center' },
          { text: 'Action', align: 'center', sortable: false, width: '50' }
        ],
        countInput: 1,
        e1: true,
        dialogSecond: false,
        dialogStatus: false,
        dialogMode: '',
        dialogTitle: '',
        dialogBtn: [],
        dataForm: {},
        dataForm2: {},
        searchForm: ''
      }
    },
    mounted() {
      this.initData()
    },
    methods: {
      ...mapActions({
        fatchBed: 'bed_type/index',
        fatchFacility: 'facility/index',
        fatchAll: 'room_type/index',
        store: 'room_type/store',
        update: 'room_type/update',
        destroy: 'room_type/delete'
      }),
      addBedType(payload) {
        var temp = {}
        this.dataBed.forEach(item => {
          if (item.id === payload.id) {
            temp = item
            temp.bed_type_id = item.id
            temp.pivot = payload
          }
        })
        
        this.dataForm.bed_types.push(JSON.parse(JSON.stringify(temp)))
      },
      removeBedType(payload) {
        this.dataForm.bed_types.pop(payload)
      },
      formAction(mode, data = {}) {
        switch (mode) {
          case 'insert':
            this.dialogTitle = 'Create Room Type'
            this.dialogBtn = ['Add', 'Close']
            this.dialogMode = 'insert'
            this.dataForm = Object.assign({}, this.initForm)
            break;
          case 'update':
            this.dialogTitle = 'Update Room Type'
            this.dialogBtn = ['Save', 'Cancel']
            this.dialogMode = 'update'
            this.dataForm = Object.assign({}, data)
            break;
          case 'delete':
            this.dialogTitle = 'Delete Room Type'
            this.dialogBtn = ['Yes', 'No']
            this.dialogMode = 'delete'
            this.dataForm = Object.assign({}, data)
            break;
        }
        this.dialogStatus = !this.dialogStatus
      },
      submit() {
        this.$validator.validateAll()
          .then((result) => {
            if (result) {
              switch (this.dialogMode) {
                case 'insert':
                  this.insertData(this.dataForm)
                  break;
                case 'update':
                  this.updateData(this.dataForm)
                  break;
                case 'delete':
                  this.deleteData(this.dataForm.code)
                  break;
              }
              this.clear()
            }
          })
      },
      clear() {
        this.dialogStatus = false
        setTimeout(() => {
          this.dialogTitle = this.dialogMode = ''
          this.clearForm()
        }, 500);
      },
      clearForm() {
        this.dataForm.id = null
        this.dataForm.name = ''
      },
      initData() {
        return new Promise((resolve, reject) => {
          this.fatchBed()
          this.fatchFacility()
          this.fatchAll()
            .then(res => {
              resolve()
            })
        })
      },
      insertData(payload) {
        return new Promise((resolve, reject) => {
          this.store(payload)
            .then(res => {
              resolve()
            })
            .catch(err => {
              reject(err)
            })
        })
      },
      updateData(payload) {
        return new Promise((resolve, reject) => {
          this.update(payload)
            .then(res => {
              resolve()
            })
            .catch(err => {
              reject(err)
            })
        })
      },
      deleteData(id) {
        return new Promise((resolve, reject) => {
          this.destroy(id)
            .then(res => {
              this.clear()
              resolve()
            })
            .catch(err => {
              reject(err)
            })
        })
      }
    },
    watch: {
      dialogCheck() {
        this.$validator.reset()
      }
    }
  }

</script>