<template>
  <v-container>
    <v-layout row wrap justify-end>
      <v-flex sm4 md2>
        <v-btn block color="primary" @click="formAction('insert')">
          Add Room
        </v-btn>
      </v-flex>
    </v-layout>
    <v-layout>
      <v-flex xs12>
        <v-data-table :headers="dataHeader" :items="dataItems" hide-actions class="elevation-1">
          <template slot="items" slot-scope="props">
            <td>{{ props.item.code }}</td>
            <td>{{ props.item.branch.name }}</td>
            <td>{{ props.item.room_type.name }}</td>
            <td>{{ props.item.room_type.price }}</td>
            <td class="justify-center layout px-0">
              <v-btn icon class="mx-0" @click="formAction('update', props.item)">
                <v-icon color="teal">edit</v-icon>
              </v-btn>
              <v-btn icon class="mx-0" @click="formAction('delete', props.item)">
                <v-icon color="pink">delete</v-icon>
              </v-btn>
            </td>
          </template>
        </v-data-table>
      </v-flex>
    </v-layout>
    <v-dialog v-model="this.dialogStatus" persistent max-width="500">
      <v-card>
        <v-card-title class="headline">{{ dialogTitle }}</v-card-title>
        <v-card-text v-if="dialogMode == 'insert' || dialogMode == 'update'">
          <v-container grid-list-md>
            <v-layout wrap>
              <v-flex xs12>
                <v-text-field
                  v-if="dialogMode === 'insert'"
                  label="Floor" 
                  class="input-group" 
                  v-model="dataForm.floor" 
                  :error-messages="errors.collect('floor')" 
                  v-validate="'required'"
                  data-vv-name="floor"></v-text-field>
                <v-text-field
                  v-if="dialogMode === 'insert'"
                  label="Number" 
                  class="input-group" 
                  v-model="dataForm.number" 
                  :error-messages="errors.collect('number')" 
                  v-validate="'required'" 
                  data-vv-name="number"></v-text-field>
                <v-switch
                  label="Room Smoking"
                  v-model="dataForm.smoking"
                ></v-switch>
                <v-select
                    v-if="dialogMode === 'insert'"
                    label="Select"
                    :items="dataRoomType"
                    v-model="dataForm.room_type.code"
                    item-value="code"
                    item-text="name"
                    :error-messages="errors.collect('room_type_code')"
                    v-validate="'required'"
                    data-vv-name="room_type_code"
                  ></v-select>
                <v-select
                    v-show="dataForm.room_type.code"
                    label="Bed Type"
                    :items="dataBed"
                    v-model="dataForm.room_bed.id"
                    item-value="id"
                    item-text="name"
                    :error-messages="errors.collect('room_bed_id')"
                    v-validate="'required'"
                    data-vv-name="room_bed_id"
                  >
                  <template slot="selection" slot-scope="data">
                    <v-chip
                      @input="data.parent.selectItem(data.item)"
                      :selected="data.selected"
                      class="chip"
                      :key="JSON.stringify(data.item)"
                    >
                      <v-avatar class="teal">{{ data.item.pivot.qty }}</v-avatar>
                      {{ data.item.name }}
                    </v-chip>
                  </template>
                </v-select>
                <v-select
                    label="Branch"
                    :items="dataBranch"
                    v-model="dataForm.branch.id"
                    item-value="id"
                    item-text="name"
                    :error-messages="errors.collect('branch_id')"
                    v-validate="'required'"
                    data-vv-name="branch_id"
                  ></v-select>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green darken-1" flat @click.native="submit">{{ this.dialogBtn[0]}}</v-btn>
          <v-btn color="green darken-1" flat @click.native="dialogStatus = !dialogStatus">{{ this.dialogBtn[1] }}</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
   </v-container>
</template>

<script>
  import {
    mapState,
    mapActions
  } from 'vuex'

  export default {
    name: 'Room',
    computed: {
      ...mapState({
        dataItems: state => state.room.data,
        dataRoomType: state => state.room_type.data,
        dataBranch: state => state.branch.data
      }),
      dialogCheck() {
        return this.dialogStatus
      },
      dataFormSelect() {
        return this.dataForm
      },
      roomTypeSelect() {
        return this.dataForm.room_type.code
      },
      initForm() {
        return {
          code: null,
          floor: null,
          number: null,
          smoking: false,
          room_type: {
            code: null
          },
          room_bed: {
            id: null
          },
          branch: {
            id: null
          }
        }
      }
    },
    data() {
      return {
        dataHeader: [{
            text: 'No',
            value: 'code',
            width: '50'
          },
          {
            text: 'Branch',
            value: 'branch.name'
          },
          {
            text: 'Room Type',
            value: 'room_type.name'
          },
          {
            text: 'Price',
            value: 'room_type.price'
          },
          {
            text: 'Action',
            align: 'center',
            sortable: false,
            width: '150'
          }
        ],
        e1: true,
        dialogStatus: false,
        dialogMode: '',
        dialogTitle: '',
        dialogBtn: [],
        dataForm: {
          room_type: {
            code: null
          }
        },
        dataBed: [],
      }
    },
    mounted() {
      this.initData()
    },
    methods: {
      ...mapActions({
        fatchBranch: 'branch/index',
        fatchRoomType: 'room_type/index',
        fatchAll: 'room/index',
        store: 'room/store',
        update: 'room/update',
        destroy: 'room/delete'
      }),
      formAction(mode, data = {}) {
        switch (mode) {
          case 'insert':
            this.dialogTitle = 'Create Room'
            this.dialogBtn = ['Add', 'Close']
            this.dialogMode = 'insert'
            this.dataForm = JSON.parse(JSON.stringify(this.initForm))
            break;
          case 'update':
            this.dialogTitle = 'Update Room'
            this.dialogBtn = ['Save', 'Cancel']
            this.dialogMode = 'update'
            this.dataForm = data
            break;
          case 'delete':
            this.dialogTitle = 'Delete Room'
            this.dialogBtn = ['Yes', 'No']
            this.dialogMode = 'delete'
            this.dataForm = data
            break;
        }
        this.dialogStatus = !this.dialogStatus
      },
      submit() {
        this.$validator.validateAll()
          .then((result) => {
            if (result) {
              switch (this.dialogMode) {
                case 'insert':
                  this.insertData(this.dataForm)
                  break;
                case 'update':
                  this.updateData(this.dataForm)
                  break;

                case 'delete':
                  this.deleteData(this.dataForm.code)
                  break;
              }
              this.clear()
            }
          })
      },
      clear() {
        this.dialogStatus = false
        setTimeout(() => {
          this.dialogTitle = this.dialogMode = ''
          this.clearForm()
        }, 500);
      },
      clearForm() {
        this.dataForm.id = null
        this.dataForm.name = ''
      },
      initData() {
        return new Promise((resolve, reject) => {
          this.fatchAll()
            .then(res => {
              this.fatchBranch()
              this.fatchRoomType()
              resolve()
            })
        })
      },
      insertData(payload) {
        return new Promise((resolve, reject) => {
          this.store(payload)
            .then(res => {
              resolve()
            })
            .catch(err => {
              reject(err)
            })
        })
      },
      updateData(payload) {
        return new Promise((resolve, reject) => {
          this.update(payload)
            .then(res => {
              resolve()
            })
            .catch(err => {
              reject(err)
            })
        })
      },
      deleteData(id) {
        return new Promise((resolve, reject) => {
          this.destroy(id)
            .then(res => {
              this.clear()
              resolve()
            })
            .catch(err => {
              reject(err)
            })
        })
      },
      getBedType() {
        this.dataRoomType.forEach(item => {
          if (item.code === this.dataForm.room_type.code) {
            this.dataBed = item.bed_types
          }
        })
      }
    },
    watch: {
      dialogCheck() {
        this.$validator.reset()
      },
      dataFormSelect() {
        console.log('MASUk')
        this.getBedType()
      },
      roomTypeSelect() {
        this.getBedType()
      }
    }
  }

</script>

<style>


</style>
