<template>
  <v-container>
    <v-layout row wrap justify-end>
      <v-flex sm4 md2>
        <v-btn block color="primary" @click="formAction('insert')">
          Add Season
        </v-btn>
      </v-flex>
    </v-layout>
    <v-layout>
        <v-flex xs12>
          <v-data-table
            :headers="dataHeader"
            :items="dataItems"
            hide-actions
            class="elevation-1"
          >
            <template slot="items" slot-scope="props">
              <td>{{ props.item.id }}</td>
              <td>{{ props.item.name }}</td>
              <td>
                <v-chip v-for="item in props.item.room_types" :key="item.code">
                  <v-avatar class="teal">{{ item.code }}</v-avatar>
                  {{ item.pivot.type == 'low' ? '- '+item.pivot.amount : '+ '+item.pivot.amount }}
                </v-chip>
              </td>
              <td>{{ props.item.start_date }}</td>
              <td>{{ props.item.end_date }}</td>
              <td class="justify-center layout px-0">
                <v-btn icon class="mx-0" @click="formAction('update', props.item)">
                  <v-icon color="teal">edit</v-icon>
                </v-btn>
                <v-btn icon class="mx-0" @click="formAction('delete', props.item)">
                  <v-icon color="pink">delete</v-icon>
                </v-btn>
              </td>
            </template>
          </v-data-table>
        </v-flex>
      </v-layout>
      <v-dialog v-model="this.dialogStatus" persistent max-width="700">
        <v-card>
          <v-card-title class="headline">{{ dialogTitle }}</v-card-title>
          <v-card-text v-if="dialogMode == 'insert' || dialogMode == 'update'">
            <v-container grid-list-md>
              <v-layout wrap>
                <v-flex xs12>
                  <v-layout row>
                    <v-flex xs12>
                      <v-text-field
                        label="Name"
                        class="input-group"
                        v-model="dataForm.name"
                        :error-messages="errors.collect('name')"
                        v-validate="'required'"
                        data-vv-name="name"
                      ></v-text-field>
                    </v-flex>
                  </v-layout>
                  <v-layout row>
                    <v-flex xs6>
                      <v-menu
                        ref="menu1"
                        lazy
                        :close-on-content-click="false"
                        v-model="menu1"
                        transition="scale-transition"
                        offset-y
                        full-width
                        :nudge-right="40"
                        min-width="290px"
                        :return-value.sync="dataForm.start_date"
                      >
                        <v-text-field
                          slot="activator"
                          label="Start Date"
                          v-model="dataForm.start_date"
                          readonly
                        ></v-text-field>
                        <v-date-picker v-model="date" @input="$refs.menu1.save(date)"></v-date-picker>
                      </v-menu>
                    </v-flex>
                    <v-flex xs6>
                      <v-menu
                        ref="menu2"
                        lazy
                        :close-on-content-click="false"
                        v-model="menu2"
                        transition="scale-transition"
                        offset-y
                        full-width
                        :nudge-right="40"
                        min-width="290px"
                        :return-value.sync="dataForm.end_date"
                      >
                        <v-text-field
                          slot="activator"
                          label="End Date"
                          v-model="dataForm.end_date"
                          readonly
                        ></v-text-field>
                        <v-date-picker v-model="date" @input="$refs.menu2.save(date)"></v-date-picker>
                      </v-menu>
                    </v-flex>
                  </v-layout>
                  <v-layout row justify-center>
                    <v-flex xs10>
                      <v-subheader class="pl-0">Room Type</v-subheader>
                    </v-flex>
                    <v-flex xs2 class="text-xs-center">
                      <v-btn dark color="primary" @click="dialogSecond = !dialogSecond">
                        <v-icon dark>add</v-icon>
                      </v-btn>
                    </v-flex>
                  </v-layout>
                  <v-layout row>
                    <v-flex xs12>
                      <v-data-table
                        :headers="dataHeader2"
                        :items="dataForm.room_types"
                        hide-actions
                        class="elevation-1"
                      >
                        <template slot="items" slot-scope="props">
                          <td>{{ props.item.name }}</td>
                          <td class="text-xs-center">{{ props.item.pivot.type }}</td>
                          <td class="text-xs-center">{{ props.item.pivot.amount }}</td>
                          <td class="justify-center layout px-0">
                            <v-btn icon class="mx-0" @click="removeRoomType(props.item)">
                              <v-icon color="pink">delete</v-icon>
                            </v-btn>
                          </td>
                        </template>
                      </v-data-table>
                    </v-flex>
                  </v-layout>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="green darken-1" flat @click.native="submit">{{ this.dialogBtn[0]}}</v-btn>
            <v-btn color="green darken-1" flat @click.native="dialogStatus = !dialogStatus">{{ this.dialogBtn[1] }}</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
      <v-dialog v-model="dialogSecond" max-width="450">
        <v-card>
          <v-card-title class="headline">Add Season Room</v-card-title>
          <v-card-text>
            <v-container>
              <v-layout row wrap>
                <v-flex xs12 sm4 d-flex align-center>
                  <v-subheader v-text="'Room Type'"></v-subheader>
                </v-flex>
                <v-flex xs12 sm8>
                  <v-select
                    :items="dataRoomType"
                    v-model="dataForm2.code"
                    item-value="code"
                    item-text="name"
                    label="Select"
                    single-line
                    autocomplete
                  ></v-select>
                </v-flex>
              </v-layout>
              <v-layout row wrap>
                <v-flex xs12 sm4 d-flex align-center>
                  <v-subheader v-text="'Type'"></v-subheader>
                </v-flex>
                <v-flex xs12 sm8>
                  <v-radio-group v-model="dataForm2.type" row >
                    <v-radio
                      label="LOW"
                      :value="'low'"
                    ></v-radio>
                    <v-radio
                      label="HIGH"
                      :value="'high'"
                    ></v-radio>
                  </v-radio-group>
                </v-flex>
              </v-layout>
              <v-layout row wrap>
                <v-flex xs12 sm4 d-flex align-center>
                  <v-subheader v-text="'Amount'"></v-subheader>
                </v-flex>
                <v-flex xs12 sm8>
                  <v-text-field
                    v-model="dataForm2.amount"
                    name="amount"
                    label="Amount"
                    single-line
                  ></v-text-field>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="green darken-1" flat="flat" @click.native="() => { addRoomType(dataForm2); dialogSecond = false; }">Add</v-btn>
            <v-btn color="green darken-1" flat="flat" @click="dialogSecond = false">Cancel</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
  </v-container>
</template>

<script>
  import { mapState, mapActions } from 'vuex'
  export default {
    name: 'Season',
    computed: {
      ...mapState({
        dataItems: state => state.season.data,
        dataRoomType: state => state.room_type.data,
      }),
      dialogCheck() {
        return this.dialogStatus
      },
      initForm() {
        return {
          id: null,
          name: '',
          room_types: [],
          start_date: '',
          end_date: '',
        }
      }
    },
    data: () => {
      return {
        dataHeader: [
          { text: 'No', value: 'id', width: '50' },
          { text: 'Name', value: 'name' },
          { text: 'Room Type', value: 'room_types' },
          { text: 'Start Date', value: 'start_date' },
          { text: 'End Date', value: 'end_date' },
          { text: 'Action', align: 'center', sortable: false, width: '150' }
        ],
        dataHeader2: [
          { text: 'Code', value: 'code', sortable: false},
          { text: 'Type', value: 'type', sortable: false, align: 'center' },
          { text: 'Amount', value: 'amount', sortable: false, align: 'center' },
          { text: 'Action', align: 'center', sortable: false, width: '150' }
        ],
        e1: true ,
        menu1: false ,
        menu2: false ,
        date: null ,
        dialogStatus: false,
        dialogMode: '',
        dialogTitle: '',
        dialogBtn: [],
        dataForm: {},
        dataForm2: {},
        searchForm: '',
        dialogSecond: false
      }
    },
    mounted() {
      this.initData()
    },
    methods: {
      ...mapActions({
        fatchRoomType: 'room_type/index',
        fatchAll: 'season/index',
        store: 'season/store',
        update: 'season/update',
        destroy: 'season/delete'
      }),
      addRoomType(payload) {
        var temp = {}
        this.dataRoomType.forEach(item => {
          if (item.code === payload.code) {
            temp = Object.assign({}, item)
            temp.room_type_code = payload.code
            temp.pivot = Object.assign({}, payload)
          }
        })
        this.dataForm.room_types.push(JSON.parse(JSON.stringify(temp)))
      },
      removeRoomType(payload) {
        this.dataForm.room_types.pop(payload)
      },
      formAction(mode, data = {}) {
        switch (mode) {
          case 'insert':
            this.dialogTitle = 'Create Season'
            this.dialogBtn = ['Add', 'Close']
            this.dialogMode = 'insert'
            this.dataForm = Object.assign({}, this.initForm)
            break;
          case 'update':
            this.dialogTitle = 'Update Season'
            this.dialogBtn = ['Save', 'Cancel']
            this.dialogMode = 'update'       
            this.dataForm = Object.assign({}, data)
            break;
          case 'delete':
            this.dialogTitle = 'Delete Season'
            this.dialogBtn = ['Yes', 'No']
            this.dialogMode = 'delete'
            this.dataForm = Object.assign({}, data)
            break;
        }
        this.dialogStatus = !this.dialogStatus
      },
      submit() {
        this.$validator.validateAll()
        .then((result) => {
          if (result) {
            switch (this.dialogMode) {
            case 'insert':
              this.insertData(this.dataForm)
              break;
            case 'update':
              this.updateData(this.dataForm)
              break;

            case 'delete':
              this.deleteData(this.dataForm.id)
              break;
            }
          this.clear()
          }
        })
      },
      clear() {
        this.dialogStatus = false
        setTimeout(() => {
          this.dialogTitle = this.dialogMode = ''
          this.clearForm()
        }, 500);
      },
      clearForm() {
        this.dataForm.id = null
      },
      initData() {
        return new Promise((resolve, reject) => {
          this.fatchAll()
            .then(res => {
              this.fatchRoomType()
              resolve()
            })
        })
      },
      insertData(payload) {
        return new Promise((resolve, reject) => {
          this.store(payload)
            .then(res => {
              resolve()
            })
            .catch(err => {
              reject(err)
            })
        })
      },
      updateData(payload) {
        return new Promise((resolve, reject) => {
          this.update(payload)
            .then(res => {
              resolve()
            })
            .catch(err => {
              reject(err)
            })
        })
      },
      deleteData(id) {
        return new Promise((resolve, reject) => {
          this.destroy(id)
            .then(res => {
              this.clear()
              resolve()
            })
            .catch(err => {
              reject(err)
            })
        })
      }
    },
    watch: {
      dialogCheck() {
        this.$validator.reset()
      }
    }
  }
</script>

<style>

</style>
