<template>
  <v-container>
    <v-layout row wrap justify-end>
      <v-flex sm4 md2>
        <v-btn block color="primary" @click="formAction('insert')">
          Add Transaction
        </v-btn>
      </v-flex>
    </v-layout>
    <v-layout>
        <v-flex xs12>
          <v-data-table
            :headers="dataHeader"
            :items="dataItems"
            hide-actions
            class="elevation-1"
          >
            <template slot="items" slot-scope="props">
              <td>{{ props.item.id }}</td>
              <td>{{ props.item.reservation.code }}</td>
              <td>{{ props.item.check_in }}</td>
              <td>{{ props.item.check_out }}</td>
              <td class="justify-center layout px-0">
                <v-btn icon class="mx-0" @click="formAction('update', props.item)">
                  <v-icon color="teal">edit</v-icon>
                </v-btn>
                <v-btn icon class="mx-0" @click="formAction('delete', props.item)">
                  <v-icon color="pink">delete</v-icon>
                </v-btn>
              </td>
            </template>
          </v-data-table>
        </v-flex>
      </v-layout>
      <v-dialog v-model="this.dialogStatus" persistent max-width="500">
        <v-card>
          <v-card-title class="headline">{{ dialogTitle }}</v-card-title>
          <v-card-text v-if="dialogMode == 'insert' || dialogMode == 'update'">
            <v-container grid-list-md>
              <v-layout wrap>
                <v-flex xs12>
                  <v-select
                    v-if="dialogMode == 'insert'"
                    :items="dataReservation"
                    v-model="dataForm.reservation_id"
                    item-value="id"
                    item-text="code"
                    label="Reservation ID"
                    autocomplete
                  ></v-select>
                  <v-switch 
                    v-if="dialogMode == 'update'" 
                    :label="`Check IN Status: ${dataForm.check_in}`" 
                    v-model="dataForm.check_in">
                  </v-switch>
                  <v-switch 
                    v-if="dialogMode == 'update'" 
                    :label="`Check OUT Status: ${dataForm.check_out}`" 
                    v-model="dataForm.check_out">
                  </v-switch>
                  <v-select
                      label="Facility"
                      :items="dataPaidFacility"
                      item-value="id"
                      item-text="name"
                      v-model="dataForm.facilities"
                      multiple
                      chips
                      autocomplete
                    ></v-select>
                </v-flex>
              </v-layout>
              <v-layout column v-if="dialogMode == 'update' && dataForm.check_out">
                <v-flex xs12>
                  <v-subheader class="pl-0">Payment Form</v-subheader>
                  <v-select :items="selectType" v-model="dataForm.payment.account_type" label="Payment Type" single-line></v-select>
                  <v-select v-if="dataForm.payment.account_type === 'App\\AccountBank'" :items="dataAccountBank" v-model="dataForm.payment.account_id" item-text="type" item-value="account_number" label="Select" single-line></v-select>
                  <v-select v-if="dataForm.payment.account_type === 'App\\CreditCard'" :items="dataCreditCard" v-model="dataForm.payment.account_id" item-text="type" item-value="account_number" label="Select" single-line></v-select>
                  <v-text-field label="Information" class="input-group" v-model="dataForm.payment.information" multi-line></v-text-field>
                  <v-switch v-if="dialogMode == 'update'" :label="`Payment Status: ${dataForm.payment.payment_date}`" v-model="dataForm.payment.payment_date" ></v-switch>
                </v-flex>
            </v-layout>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="green darken-1" flat @click.native="submit">{{ this.dialogBtn[0]}}</v-btn>
            <v-btn color="green darken-1" flat @click.native="dialogStatus = !dialogStatus">{{ this.dialogBtn[1] }}</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
  </v-container>
</template>

<script>

import { mapState, mapActions } from 'vuex'

export default {
  name: 'Transaction',
  computed: {
    ...mapState({
      dataReservation: state => state.reservation.data,
      dataItems: state => state.transaction.data,
      dataPaidFacility: state => state.paid_facility.data,
      dataAccountBank: state => state.account_bank.data,
      dataCreditCard: state => state.credit_card.data,
    }),
    dialogCheck() {
      return this.dialogStatus
    },
    initForm() {
      return {
        id: null,
        check_in: null,
        check_out: false,
        reservation_id: null,
        facilities: null,
        reservation: {
          id: null,
          code: null
        }
      }
    },
    initPayment() {
      return {
        account_id: null,
        account_type: ''
      }
    }
  },
  data() {
    return {
      dataHeader: [
        { text: 'No', value: 'id', width: '50' },
        { text: 'Reservation', value: 'code' },
        { text: 'Check IN', value: 'check_in' },
        { text: 'Check OUT', value: 'check_out' },
        { text: 'Action', align: 'center', sortable: false, width: '150' }
      ],
      e1: true ,
      dialogStatus: false,
      dialogMode: '',
      dialogTitle: '',
      dialogBtn: [],
      dataForm: {},
      searchForm: '',
      searchReservation: '',
      selectType: [
            {
              text: 'Account Bank',
              value: 'App\\AccountBank'
            },
            {
              text: 'Credit Card',
              value: 'App\\CreditCard'
            },
          ],
    }
  },
  mounted() {
    this.initData()
  },
  methods: {
    ...mapActions({
      fatchAccountBank: 'account_bank/index',
      fatchCreditCard: 'credit_card/index',
      fatchPaidFacility: 'paid_facility/index',
      fatchReservation: 'reservation/indexForTransaction',
      fatchAll: 'transaction/index',
      store: 'transaction/store',
      update: 'transaction/update',
    }),
    formAction(mode, data = {}) {
      switch (mode) {
        case 'insert':
          this.dialogTitle = 'Create Transaction'
          this.dialogBtn = ['Add', 'Close']
          this.dialogMode = 'insert'
          this.dataForm = Object.assign(this.initForm)
          break;
        case 'update':
          this.dialogTitle = 'Update Transaction'
          this.dialogBtn = ['Save', 'Cancel']
          this.dialogMode = 'update'       
          this.dataForm = Object.assign(data)
          this.dataForm.payment = Object.assign(this.initPayment)
          break;
        case 'delete':
          this.dialogTitle = 'Delete Transaction'
          this.dialogBtn = ['Yes', 'No']
          this.dialogMode = 'delete'
          this.dataForm = Object.assign(data)
          break;
      }
      this.dialogStatus = !this.dialogStatus
    },
    submit() {
      this.$validator.validateAll()
      .then((result) => {
        if (result) {
          switch (this.dialogMode) {
          case 'insert':
            this.insertData(this.dataForm)
            break;
          case 'update':
            this.updateData(this.dataForm)
            break;

          case 'delete':
            this.deleteData(this.dataForm.id)
            break;
          }
        this.clear()
        }
      })
    },
    clear() {
      this.dialogStatus = false
      setTimeout(() => {
        this.dialogTitle = this.dialogMode = ''
        this.dataForm = Object.assign({}, this.initForm)
      }, 500);
    },
    initData() {
      return new Promise((resolve, reject) => {
        this.fatchReservation()
        this.fatchPaidFacility()
        this.fatchAccountBank()
        this.fatchCreditCard()
        this.fatchAll()
          .then(res => {
            resolve()
          })
      })
    },
    insertData(payload) {
      return new Promise((resolve, reject) => {
        this.store(payload)
          .then(res => {
            resolve()
          })
          .catch(err => {
            reject(err)
          })
      })
    },
    updateData(payload) {
      return new Promise((resolve, reject) => {
        this.update(payload)
          .then(res => {
            resolve()
          })
          .catch(err => {
            reject(err)
          })
      })
    },
    deleteData(id) {
      return new Promise((resolve, reject) => {
        this.destroy(id)
          .then(res => {
            this.clear()
            resolve()
          })
          .catch(err => {
            reject(err)
          })
      })
    }
  },
  watch: {
    dialogCheck() {
      this.$validator.reset()
    }
  }
}
</script>

<style>

</style>
