<template>
    <v-container>
      <v-layout row wrap justify-end>
        <v-flex sm4 md2>
          <v-btn block color="primary" @click="formAction('insert')">
            Add User
          </v-btn>
        </v-flex>
      </v-layout>
      <v-layout>
        <v-flex xs12>
          <v-data-table
            :headers="dataHeader"
            :items="dataItems"
            hide-actions
            class="elevation-1"
          >
            <template slot="items" slot-scope="props">
              <td>{{ props.item.id }}</td>
              <td>{{ props.item.username }}</td>
              <td>{{ props.item.email }}</td>
              <td>{{ props.item.role.name }}</td>
              <td class="justify-center layout px-0">
                <v-btn icon class="mx-0" @click="formAction('update', props.item)">
                  <v-icon color="teal">edit</v-icon>
                </v-btn>
                <v-btn icon class="mx-0" @click="formAction('delete', props.item)">
                  <v-icon color="pink">delete</v-icon>
                </v-btn>
              </td>
            </template>
          </v-data-table>
        </v-flex>
      </v-layout>
      <v-dialog v-model="this.dialogStatus" persistent max-width="500">
        <v-card>
          <v-card-title class="headline">{{ dialogTitle }}</v-card-title>
          <v-card-text v-if="dialogMode == 'insert' || dialogMode == 'update'">
            <v-container grid-list-md>
              <v-layout wrap>
                <v-flex xs12>
                  <v-text-field
                    v-if="dialogMode !== 'update'"
                    label="Username"
                    class="input-group"
                    v-model="dataForm.username"
                    :error-messages="errors.collect('username')"
                    v-validate="'required'"
                    data-vv-name="username"
                  ></v-text-field>
                  <v-text-field
                    label="Enter your password"
                    v-model="dataForm.password"
                    :append-icon="e1 ? 'visibility' : 'visibility_off'"
                    :append-icon-cb="() => (e1 = !e1)"
                    :type="e1 ? 'password' : 'text'"
                    :error-messages="errors.collect('password')"
                    v-validate="'required|min:8|max:20'"
                    data-vv-name="password"
                  ></v-text-field>
                  <v-text-field
                    label="Email"
                    class="input-group"
                    v-model="dataForm.email"
                    :error-messages="errors.collect('email')"
                    v-validate="'required|email'"
                    data-vv-name="email"
                  ></v-text-field>
                  <v-select
                    label="Select"
                    :items="dataRoles"
                    v-model="dataForm.role.id"
                    item-value="id"
                    item-text="name"
                    :error-messages="errors.collect('role')"
                    v-validate="'required'"
                    data-vv-name="role"
                  ></v-select>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="green darken-1" flat @click.native="submit">{{ this.dialogBtn[0]}}</v-btn>
            <v-btn color="green darken-1" flat @click.native="dialogStatus = !dialogStatus">{{ this.dialogBtn[1] }}</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-container>
</template>

<script>
import { mapState, mapActions } from 'vuex'

export default {
  name: 'User',
  computed: {
    ...mapState({
      dataItems: state => state.user.data,
      dataRoles: state => state.role.data
    }),
    dialogCheck() {
      return this.dialogStatus
    },
    initForm() {
      return {
        id: null,
        username: '',
        password: '',
        email: '',
        role: {
          id: null,
          name: ''
        }
      }
    }
  },
  data() {
    return {
      dataHeader: [
        { text: 'No', value: 'id', width: '50' },
        { text: 'Username', value: 'username' },
        { text: 'Email', value: 'email' },
        { text: 'Role', value: 'role.name' },
        { text: 'Action', align: 'center', sortable: false, width: '150' }
      ],
      e1: true ,
      dialogStatus: false,
      dialogMode: '',
      dialogTitle: '',
      dialogBtn: [],
      dataForm: {},
      searchForm: ''
    }
  },
  mounted() {
    this.initData()
  },
  methods: {
    ...mapActions({
      getRoles: 'role/index',
      fatchAll: 'user/index',
      store: 'user/store',
      update: 'user/update',
      destroy: 'user/delete'
    }),
    formAction(mode, data = {}) {
      switch (mode) {
        case 'insert':
          this.dialogTitle = 'Create User'
          this.dialogBtn = ['Add', 'Close']
          this.dialogMode = 'insert'
          this.dataForm = this.initForm
          break;
        case 'update':
          this.dialogTitle = 'Update User'
          this.dialogBtn = ['Save', 'Cancel']
          this.dialogMode = 'update'       
          this.dataForm = data
          break;
        case 'delete':
          this.dialogTitle = 'Delete User'
          this.dialogBtn = ['Yes', 'No']
          this.dialogMode = 'delete'
          this.dataForm = data
          break;
      }
      this.dialogStatus = !this.dialogStatus
    },
    submit() {
      this.$validator.validateAll()
      .then((result) => {
        if (result) {
          switch (this.dialogMode) {
          case 'insert':
            this.insertData(this.dataForm)
            break;
          case 'update':
            this.updateData(this.dataForm)
            break;

          case 'delete':
            this.deleteData(this.dataForm.id)
            break;
        }
        this.clear()
        }
      })
    },
    clear() {
      this.dialogStatus = false
      setTimeout(() => {
        this.dialogTitle = this.dialogMode = ''     
        this.clearForm()
      }, 500);
    },
    clearForm() {
      this.dataForm.id = null
      this.dataForm.username = ''
      this.dataForm.password = ''
      this.dataForm.email = ''
      this.dataForm.role.id = null
      this.dataForm.role.name = ''
    },
    initData() {
      return new Promise((resolve, reject) => {
        this.getRoles()
        this.fatchAll()
          .then(res => {
            resolve()
          })
      })
    },
    insertData(payload) {
      return new Promise((resolve, reject) => {
        this.store(payload)
          .then(res => {
            resolve()
          })
          .catch(err => {
            reject(err)
          })
      })
    },
    updateData(payload) {
      return new Promise((resolve, reject) => {
        this.update(payload)
          .then(res => {
            resolve()
          })
          .catch(err => {
            reject(err)
          })
      })
    },
    deleteData(id) {
      return new Promise((resolve, reject) => {
        this.destroy(id)
          .then(res => {
            this.clear()
            resolve()
          })
          .catch(err => {
            reject(err)
          })
      })
    },
  },
  watch: {
    dialogCheck() {
      this.$validator.reset()
    }
  }
}
</script>

<style>

</style>
