<template>
  <div class="content-wrapper">
    <div class="content-header">
      <img src="http://localhost:8000/storage/images/parallax-10.jpg" alt="IMG_1">
      <h2 class="content-title">BOOKING HISTORY</h2>
    </div>
    <!-- <div class="content-actions">
      <div class="container">
        <div class="d-flex flex-row justify-content-center">
          <div class="action-item">STAY PRICE</div>
          <div class="action-item">ROOM SIZE</div>
        </div>
      </div>
    </div> -->
    <div class="content-body">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <div class="history-reservation-box">
              <div class="col-sm-12">
                <div class="row">
                  <div class="col-sm-10">
                    <h6 class="reservation-title">Code Booking: </h6>
                    <p class="reservation-title-text">12312s</p>
                  </div>
                  <div class="col-sm-2">
                    <a href="#">
                      DETAIL
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-sm-12">
                <div class="row">
                  <div class="col-sm-6">
                    <h6 class="reservation-title">Check in : </h6>
                    <p class="reservation-title-text">12 Janury 2018</p>
                  </div>
                  <div class="col-sm-6">
                    <h6 class="reservation-title">Check out : </h6>
                    <p class="reservation-title-text">12 Janury 2018</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-12">
                <div class="row">
                  <div class="col-sm-6">
                    <h6 class="reservation-title">Guest Name : </h6>
                    <p class="reservation-title-text">Artha S</p>
                  </div>
                  <div class="col-sm-6">
                    <h6 class="reservation-title">Email : </h6>
                    <p class="reservation-title-text">ArthaZ@asadas.com</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="history-reservation-box">
              <div class="col-sm-12">
                <div class="row">
                  <div class="col-sm-10">
                    <h6 class="reservation-title">Code Booking: </h6>
                    <p class="reservation-title-text">12312s</p>
                  </div>
                  <div class="col-sm-2">
                    <a href="#">
                      DETAIL
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-sm-12">
                <div class="row">
                  <div class="col-sm-6">
                    <h6 class="reservation-title">Check in : </h6>
                    <p class="reservation-title-text">12 Janury 2018</p>
                  </div>
                  <div class="col-sm-6">
                    <h6 class="reservation-title">Check out : </h6>
                    <p class="reservation-title-text">12 Janury 2018</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-12">
                <div class="row">
                  <div class="col-sm-6">
                    <h6 class="reservation-title">Guest Name : </h6>
                    <p class="reservation-title-text">Artha S</p>
                  </div>
                  <div class="col-sm-6">
                    <h6 class="reservation-title">Email : </h6>
                    <p class="reservation-title-text">ArthaZ@asadas.com</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {

}
</script>

<style>

</style>
