<template>
  <div class="content-wrapper">
    <slider/>
    <div class="content-body">
      <div class="d-flex content-item content-model-1">
        <div class="container">
          <div class="row">
            <div class="col-sm-6">
              <div class="d-flex flex-column h-100 justify-content-center">
                <div class="content-title">
                  <h4 class="subheading">HOTEL BAYVIEW</h4>
                  <h2 class="title">Relax in our Resort</h2>
                </div>
                <div class="content-body">
                  <p class="description">Vivamus volutpat eros pulvinar velit laoreet, sit amet egestas erat dignissim. Sed quis rutrum tellus, sit
                    amet viverra felis. Cras sagittis sem sit amet urna feugiat rutrum. Nam nulla ipsum, venenatis malesuada
                    felis.</p>
                  <div class="content-actions">
                    <button class="btn btn-solid btn-sigah-primary">ABOUT US</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="content-image">
                <img src="http://localhost:8000/storage/images/img-1-1024x963.jpg" alt="img_1">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex content-item content-model-3">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-6 px-0">
              <div class="content-image">
                <img class="image-full" src="http://www.nicdarkthemes.com/themes/hotel/wp/demo/hotel/wp-content/uploads/sites/2/2017/08/parallax-6.jpg?id=738" alt=""/>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="content-item">
                <div class="content-title">
                <h4 class="subheading">LUXURY HOTEL & BEST RESORT</h4>
                <h2 class="title">Discover our <div class="color-primary">Locations</div></h2>
              </div>
              <div class="content-body">
                <div class="row">
                  <div class="col-sm">
                    <p class="description">Vivamus volutpat eros pulvinar velit laoreet, sit amet egestas erat dignissim. Sed quis rutrum tellus, sit
                    amet viverra felis. Cras sagittis sem sit amet urna feugiat rutrum. Nam nulla ipsum, venenatis malesuada
                    felis.</p>
                  </div>
                  <div class="col-sm">
                    <p class="description">Vivamus volutpat eros pulvinar velit laoreet, sit amet egestas erat dignissim. Sed quis rutrum tellus, sit
                    amet viverra felis. Cras sagittis sem sit amet urna feugiat rutrum. Nam nulla ipsum, venenatis malesuada
                    felis.</p>
                  </div>
                </div>
                <button class="btn btn-solid btn-sigah-second">CHECK ALL PACKAGES</button>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex content-item">
        <div class="container">
          <div class="row">
            <div class="d-flex">
              <h2 class="sigah-caption">Phasellus enim libero, blandit vel sapien vitae, condimentumultricies magna et. Best services orci ut et lobortis.
                Blandit vel sapienvitae, condimentum</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex content-item content-model-4">
        <div class="container">
          <div class="content-item">
              <div class="col-sm-6">
                <div class="d-flex flex-column h-100 justify-content-center">
                  <div class="content-title">
                    <h4 class="subheading">FINE FOOD</h4>
                    <h2 class="title">Restaurant</h2>
                  </div>
                  <div class="content-body">
                    <p class="description">Phasellus enim libero, blandit vel sapien vitae, condimentum ultricies magna et. Quisque euismod orci ut et lobortis. Phasellus enim libero, blandit.</p>
                  </div>
                  <div class="content-actions">
                    <button class="btn btn-outline btn-sigah-primary">READ MORE</button>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 px-0">
                <div id="slider-2" class="carousel slide slide-mini" data-ride="carousel">
                  <ol class="carousel-indicators">
                    <li data-target="#slider-2" data-slide-to="0" class="active"></li>
                    <li data-target="#slider-2" data-slide-to="1"></li>
                  </ol>
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img class="d-block w-100" src="http://localhost:8000/storage/images/img1.jpg" alt="First slide">
                    </div>
                    <div class="carousel-item">
                      <img class="d-block w-100" src="http://localhost:8000/storage/images/img2.jpg" alt="Second slide">
                    </div>
                  </div>
                </div>
              </div>
          </div>
          <div class="content-item reverse">
              <div class="col-sm-6">
                <div class="d-flex flex-column h-100 justify-content-center">
                  <div class="content-title">
                    <h4 class="subheading">FINE FOOD</h4>
                    <h2 class="title">Restaurant</h2>
                  </div>
                  <div class="content-body">
                    <p class="description">Vivamus volutpat eros pulvinar velit laoreet, sit amet egestas erat dignissim. Sed quis rutrum tellus,
                      sit amet viverra felis. Cras sagittis sem sit amet urna feugiat rutrum. Nam nulla ipsum, venenatis malesuada
                      felis.</p>
                  </div>
                  <div class="content-actions">
                    <button class="btn btn-outline btn-sigah-primary">READ MORE</button>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 px-0">
                <div id="slider-3" class="carousel slide slide-mini" data-ride="carousel">
                  <ol class="carousel-indicators">
                    <li data-target="#slider-3" data-slide-to="0" class="active"></li>
                    <li data-target="#slider-3" data-slide-to="1"></li>
                  </ol>
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img class="d-block w-100" src="http://localhost:8000/storage/images/img1.jpg" alt="First slide">
                    </div>
                    <div class="carousel-item">
                      <img class="d-block w-100" src="http://localhost:8000/storage/images/img2.jpg" alt="Second slide">
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Slider from '../base/Slider'
  import FontAwesomeIcon from '@fortawesome/vue-fontawesome'

  import { mapState, mapActions } from 'vuex'

  export default {
    name: 'Homepage',
    components: {
      Slider,
      FontAwesomeIcon
    },
    computed: {
    },
    data() {
      return {

      }
    },
    mounted() {

    },
    methods: {
    }

  }

</script>

<style lang="scss">
  .content-item {
    padding: 30px 0;
  }
  .content-model-1 {
    .title{
      font-size: 4.6em;
      letter-spacing: 2px;
      text-align: center;
    }
    .description{
      padding-top: 20px;
      padding-bottom: 20px; 
      font-size: .96em;
      line-height: 27px;
      letter-spacing: 1.4px;
      color: #878788;
      text-align: center;
    }
  }
  .content-model-2 {
    background: #F9F9F9;
    .title{
      font-size: 3.4em;
      letter-spacing: 2px;
      text-align: center;
    }
  }
  .content-model-3{
    padding: 0;
    background: #1C1C1C;
    color: #fff;
    .subheading{
      text-align: left;
      color: #fff;
    }
    .title{
      font-size: 4.8em;
      letter-spacing: 2px;
    }
    .description{
      padding-top: 20px;
      padding-bottom: 20px; 
      font-size: .83em;
      line-height: 25px;
      letter-spacing: 1.1px;
      color: #878788;
    }
    .content-item{
      padding: 60px 60px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .content-image{
      img{
        position: absolute;
        right: 0;
        bottom: 0;
      }
    }
  }
  .content-model-4{
    background: #F9F9F9;
    .subheading{
      color: #000;
    }
    .title{
      text-align: center;
    }
    .description{
      text-align: center;
      line-height: 27px;
      color: #878788;
    }
    .content-item{
      background: #fff;
      padding: 0;
      display: flex;
      flex: 1 1 auto;
      &.reverse{
        flex-direction: row-reverse;
      }
    }
  }
  .content-actions{
      display: flex;
      justify-content: center;
  }

  .content-room{
    .content-room-item-active{
      .room-header{}
      .room-body{
        background: #fff;
        padding: 30px;
        .room-info-items{
          padding: 0 0 15px;
          margin: 0;
          display: flex;
        }
        .room-info-item{
          list-style: none;
          display: flex;
          flex: 1 1 auto;
          color: #878788;
          .info-icon{
            font-size: 1.2em;
          }
          .info-caption{
            font-size: .87em;
            letter-spacing: 1.4px;
            margin: 0px 5px;
          }
        }
        .room-actions{
          display: flex;
        }
        .room-description{
          font-size: .83em;
          line-height: 27px;
          letter-spacing: 1.1px;
          color: #878788;
        }
      }
    }
  }

  .content-image{
    height: 100%;
    img{
      position: relative;
      width: 100%;

      &.image-full{
        width: auto;
        height: 100%;
      }
    }
  }
  .slide-mini{
    .carousel-inner{
    }
    .carousel-item{
      height: 400px;
      img{
        height: 100%;

      }
    }
  }
</style>

