<template>
  <div class="content-wrapper">
    <div class="content-header">
      <img src="http://localhost:8000/storage/images/parallax-10.jpg" alt="IMG_1">
      <h2 class="content-title">BOOKING</h2>
    </div>
    <div class="content-body">
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <div class="booking-box">
              <div class="col-sm-6">
                <div class="form-group form-booking-search">
                  <label for="check-in">CHECK-IN</label>
                  <input type="date" v-model="reservationForm.start_date"/>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group form-booking-search">
                  <label for="check-in">CHECK-OUT</label>
                  <input type="date" v-model="reservationForm.end_date"/>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group form-booking-search">
                  <label for="check-in">ADULT</label>
                  <input type="number" value="4" v-model="reservationForm.adult"/>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group form-booking-search">
                  <label for="check-in">CHILD</label>
                  <input type="number" value="2" v-model="reservationForm.child"/>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-8">
            <div class="reservation-form">
              <div class="reservation-form-item">
                <h2 class="reservation-title">Add Your Information :</h2>
                <div class="form-group">
                  <label>Name</label>
                  <input type="text" class="form-control" v-model="guestForm.name">
                </div>
                <div class="form-group">
                  <label>Nip</label>
                  <input type="text" class="form-control" v-model="guestForm.nip">
                </div>
                <div class="form-group">
                  <label>Phone</label>
                  <input type="text" class="form-control" v-model="guestForm.phone">
                </div>
                <div class="form-group">
                  <label>Email</label>
                  <input type="text" class="form-control" v-model="guestForm.email">
                </div>
                <div class="form-group">
                  <label>Address</label>
                  <input type="text" class="form-control" v-model="guestForm.address">
                </div>  
              </div>
              <div class="reservation-form-item">
                <h2 class="reservation-title">Payment Options :</h2>
                <div class="form-group">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" value="credit_card" v-model="paymentForm.payment_method">
                    <label class="form-check-label">Credit Card</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" value="debit" v-model="paymentForm.payment_method">
                    <label class="form-check-label">Debit</label>
                  </div>
                </div>
                <div class="form-group" v-if="paymentForm.payment_method === 'credit_card'">
                  <label>Credit Card</label>
                  <select class="custom-select" v-model="paymentForm.network">
                    <option value="master_card">Master Card</option>
                    <option value="visa">Visa</option>
                  </select>
                </div>
                <div class="form-group" v-if="paymentForm.payment_method === 'debit'">
                  <label>Debit Bank</label>
                  <select class="custom-select" v-model="paymentForm.network">
                    <option value="bca">BCA</option>
                    <option value="bni">BNI</option>
                    <option value="cimb_niaga">CIMB</option>
                  </select>
                </div>
              </div>
              
              <div class="form-group">
                <a 
                class="btn btn-solid btn-sigah-second" 
                href="#" 
                role="button" 
                data-toggle="modal" 
                data-target="#checkoutFinish" 
                @click="submit()">CHECKOUT</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal" tabindex="-1" role="dialog" id="checkoutFinish">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">CHECKOUT RESERVATION</h5>
          </div>
          <div class="modal-body">
            <div class="contianer">
              <div class="checkout-info">
                <h2 class="checkout-info-title">
                  Reservation Info
                </h2>
                <div class="row">
                  <div class="col-sm-12">
                    <p class="info-title">Booking Code: </p>
                    <p class="info-title-text">{{ reservationResult.code}}</p>
                  </div>
                  <div class="col-sm-6">
                    <p class="info-title">Name: </p>
                    <p class="info-title-text">{{ reservationResult.guest && reservationResult.guest.name }}</p>
                  </div>
                  <div class="col-sm-6">
                    <p class="info-title">NIP: </p>
                    <p class="info-title-text">{{ reservationResult.guest && reservationResult.guest.nip }}</p>
                  </div>
                  <div class="col-sm-6">
                    <p class="info-title">Phone: </p>
                    <p class="info-title-text">{{ reservationResult.guest && reservationResult.guest.phone }}</p>
                  </div>
                  <div class="col-sm-6">
                    <p class="info-title">Email: </p>
                    <p class="info-title-text">{{ reservationResult.guest && reservationResult.guest.email }}</p>
                  </div>
                  <div class="col-sm-6">
                    <p class="info-title">Address: </p>
                    <p class="info-title-text">{{ reservationResult.guest && reservationResult.guest.address }}</p>
                  </div>
                </div>
              </div>
              <div class="checkout-info">
                <h2 class="checkout-info-title">
                  Payment Info
                </h2>
                <div class="row">
                  <div class="col-sm-12">
                    <p class="info-title">Payment Method: </p>
                    <p class="info-title-text">Artha</p>
                  </div>
                  <div class="col-sm-6">
                    <p class="info-title">No Rekening: </p>
                    <p class="info-title-text">123123</p>
                  </div>
                  <div class="col-sm-6">
                    <p class="info-title">Expired: </p>
                    <p class="info-title-text">12 Maret 2018</p>
                  </div>
                  <div class="col-sm-12">
                    <p class="info-title">Total Price: </p>
                    <p class="info-title-text">123124123</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" @click="$router.push({name: 'homepage'})">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import { mapState, mapActions } from 'vuex'
  import Cookies from 'js-cookie'
export default {
  data() {
    return {
      guestForm: {},
      paymentForm: {},
      reservationForm: {
        start_date: '2018-12-22',
        end_date: '2018-12-23',
        adult: 2,
        child: 2,
      },
      roomReady: [],
      reservationResult: {}
    }
  },
  computed: {
    ...mapState({
      dataRoom: state => state.room.data
    }),
    cartRooms() {
      return Cookies.getJSON('cart')
    }
  },
  methods: {
    ...mapActions({
      roomAvailable: 'room/available',
      store: 'reservation/store'
    }),
    getRoom() {
      this.roomAvailable(this.reservationForm)
      .then(res => {
        if (res) {
          
          this.cartRooms.forEach(item => {
            this.dataRoom.forEach(room => {
              if (item.room_type.code === room.room_type.code && !this.roomReady.includes(room.code)) {
                this.roomReady.push(room.code)
              }
            })
          })
        }
      })
    },
    submit() {
      this.getRoom()

      const data = {
        adult: this.reservationForm.adult,
        child: this.reservationForm.child,
        start_date: this.reservationForm.start_date,
        end_date: this.reservationForm.end_date,
        type: 'personal',
        guest: this.guestForm,
        rooms: Object.values(this.roomReady)
      }
      
      this.insertData(data)
    },
    insertData(payload) {
      return new Promise((resolve, reject) => {
        this.store(payload)
          .then(res => {
            if (res) {
              this.reservationResult = res
              Cookies.remove('cart')
            }
          })
          .catch(err => {
            reject(err)
          })
      })
    },
  }
}
</script>

<style lang="scss">
</style>
