<template>
  <div class="content-wrapper">
    <div class="content-header">
      <img src="" alt="IMG_1">
      <h2 class="content-title">SEARCH</h2>
      <div class="content-menu">
        <div class="content-items">
          <a href="http://" class="item">DESCRIPTION</a>
          <a href="http://" class="item">ROOM SERVICES</a>
          <a href="http://" class="item">AROUND THE HOTEL</a>
          <a href="http://" class="item">SIMILAR ROOMS</a>
        </div>
        <div class="content-end">
          <div class="price-room">
            <h2>30</h2>
            <h4>/ PER NIGHT</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="content-body">
      <div class="container">
        <div class="content-title">
          <h2 class="content-title-text">Small Room</h2>
          <h4 class="content-title-caption">HOTEL ROME</h4>
        </div>
        <div class="d-flex">
          <div class="room-information">
            <div class="slider-box">
              <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="" alt="Third slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
            </div>
            <div class="room-detail">
              <div class="room-spec">
                <div class="spec-item">
                  <i>ICON</i>
                  <label>1 GUESTS</label>
                </div>
                <div class="spec-item">
                  <i>ICON</i>
                  <label>15 Ft</label>
                </div>
                <div class="spec-item">
                  <i>ICON</i>
                  <label>30$ / PER NIGHT</label>
                </div>
                <div class="spec-item">
                  <i>ICON</i>
                  <label>WEEK PRICE</label>
                </div>
              </div>
              <div class="room-body">
                <p class="room-description">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vel molestie nisl. Duis ac mi leo. Mauris at convallis erat. Aliquam interdum semper luctus. Aenean ex tellus, gravida ut rutrum dignissim, malesuada vitae nulla. Sed viverra, nisl dapibus lobortis porttitor, risus risus dictum risus, sed rhoncus orci urna dignissim leo. Cras id nunc nulla. Aliquam a tortor fermentum, finibus elit ac, dictum purus. Nulla mollis ex interdum commodo luctus. In hac habitasse platea dictumst. Quisque vel rutrum ipsum. Praesent at imperdiet diam. Ut vel vulputate massa. Duis condimentum tincidunt tristique. Donec sollicitudin efficitur venenatis. Integer ex lectus, lobortis nec cursus ac, suscipit ut magna.
                </p>
                <div class="room-services">
                  <h2 class="title">Services :</h2>
                  <div class="items">
                    <div class="item-box">
                      <i>ICON</i>
                      <p>Swimming Pool</p>
                    </div>
                    <div class="item-box">
                      <i>ICON</i>
                      <p>Television</p>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <div class="sidebar-custom">
            <div class="booking-box">
              <div class="booking-form">
                <div class="form-group form-booking-search">
                <label for="check-in">CHECK-IN</label>
                <a href="http://" class="date-selection">
                  <h2 class="day-select">20</h2>
                  <div class="month-select">
                    <p class="month-caption">Apr</p>
                    <i>ICON</i>
                  </div>
                </a>
              </div>
              <div class="form-group form-booking-search">
                <label for="check-in">CHECK-OUT</label>
                <a href="http://" class="date-selection">
                  <h2 class="day-select">21</h2>
                  <div class="month-select">
                    <p class="month-caption">Apr</p>
                    <i>ICON</i>
                  </div>
                </a>
              </div>
              <div class="form-group form-booking-search">
                <label for="check-in">GUESTS</label>
                <div class="guests-selection">
                  <h2 class="day-select">1</h2>
                  <div class="counting">
                    <button class="" type="button">UP</button>
                    <button class="" type="button">DOWN</button>
                  </div>
                </div>
              </div>
              <div class="form-group form-booking-search">
                <label for="check-in">NIGHTS</label>
                <h2 class="day-select">1</h2>
              </div>
              </div>
              <div class="booking-actions">
                <button type="button" class="btn">Book Now</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {

}
</script>

<style>

</style>
