<template>
  <div class="content-wrapper">
    <div class="content-header">
      <img src="http://localhost:8000/storage/images/parallax-10.jpg" alt="IMG_1">
      <h2 class="content-title">SEARCH</h2>
    </div>
    <div class="content-actions">
      <div class="container">
        <div class="d-flex flex-row justify-content-center">
          <div class="action-item">STAY PRICE</div>
          <div class="action-item">ROOM SIZE</div>
        </div>
      </div>
    </div>
    <div class="content-body">
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <div class="booking-box">
              <div class="form-group form-booking-search">
                <label for="check-in">CHECK-IN</label>
                <input type="date" v-model="searchData.start_date" />
              </div>
              <div class="form-group form-booking-search">
                <label for="check-in">CHECK-OUT</label>
                <input type="date" v-model="searchData.end_date" />
              </div>
            </div>
            <div class="filter-box">
              <div class="accordion" id="tabs-search">
                <div class="card">
                  <div class="card-header">
                    <a href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      <div class="d-flex align-items-center">
                        <h5 class="mb-0">
                          Services :
                        </h5>
                        <div class="ml-auto">
                          <font-awesome-icon :icon="['fas', 'angle-down']" />
                        </div>
                      </div>
                    </a>
                  </div>
                  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#tabs-search">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-sm-6 col-md-4">
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="">
                            <label class="form-check-label">
                              Kasur
                            </label>
                          </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="">
                            <label class="form-check-label">
                              Bantal
                            </label>
                          </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="">
                            <label class="form-check-label">
                              Water
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-8">
            <div class="room-items">
              <div class="row">
                <div v-for="room_type in roomTypeReady" class="col-sm-6" :key="room_type.id">
                  <div class="room-box">
                    <div class="room-header">
                      <img class="room-img" :src="`http://127.0.0.1:8000/storage/images/${ room_type.images[0] && room_type.images[0].file_name}`" alt="IMG_1">
                      <h4 class="room-branch">{{ room_type.qty }} ROOM</h4>
                    </div>
                    <div class="room-body">
                      <h2 class="room-title">{{ room_type.name }}</h2>
                      <div class="room-info">
                        <div class="room-info-item">
                          <font-awesome-icon :icon="['fas', 'user-circle']" />
                          <p class="info-caption">{{ room_type.max_guests }} GUESTS</p>
                        </div>
                        <div class="room-info-item">
                          <font-awesome-icon :icon="['fas', 'building']" />
                          <p class="info-caption">{{ room_type.size }} FT</p>
                        </div>
                      </div>
                      <div class="room-description">
                        <p class="room-description-text">
                          {{ room_type.description }}
                        </p>
                      </div>
                      <div class="bed-selected">
                        <div class="form-check" v-for="bed_type in room_type.bed_types" :key="bed_type.id">
                          <input class="form-check-input" type="radio" v-model="bedTypeSelect" :value="bed_type.id">
                          <label class="form-check-label">
                            {{ bed_type.pivot.qty + ' ' + bed_type.name }} 
                          </label>
                        </div>
                      </div>
                      <button class="btn btn-outline btn-sigah-second" @click="addCart(room_type, bedTypeSelect)">Book Now</button>
                    </div>
                    <div class="room-footer">
                      <div class="d-flex align-items-center">
                        <div class="facility-items">
                          <font-awesome-icon class="facility-item" :icon="['fas', 'tv']" />
                          <font-awesome-icon class="facility-item" :icon="['fas', 'smoking']" />
                        </div>
                        <a href="#" class="ml-auto room-detail-text">
                            FULL INFO
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="row">
              <div class="pagination-box w-100">
                <nav class="pagination-room">
                  <ul class="pagination justify-content-center">
                    <li class="page-item disabled">
                      <a class="page-link" href="#" tabindex="-1">Previous</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#">2</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#">3</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#">Next</a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import FontAwesomeIcon from '@fortawesome/vue-fontawesome'
  import { mapState, mapActions } from 'vuex'
  import Cookies from 'js-cookie'

  export default {
    components: {
      FontAwesomeIcon
    },
    data() {
      return {
        roomTypeReady: {},
        searchData: {},
        bedTypeSelect: {},
        cartData: []
      }
    },
    computed: {
      ...mapState({
        dataRoom: state => state.room.data
      }),
    },
    mounted() {
      this.initData()
    },
    methods: {
      ...mapActions({
        fetchRoom: 'room/available'
      }),
      initData() {
        var d = new Date()
        const initDate = {
          start_date: this.dateParse(d.getFullYear(), d.getMonth(), d.getDay()),
          end_date: this.dateParse(d.getFullYear(), d.getMonth(), d.getDay() + 1),
        }
        this.searchData = Object.assign({}, initDate)
        this.fetchRoom(this.searchData)
        .then(res => {
          if (res) {
            this.roomTypeAvalilable()
          }
        }) 
      },
      roomTypeAvalilable() {
        const room_type = []
        this.dataRoom.forEach(room => {
          if (room_type.length == 0) {
            room_type.push(room.room_type)
            room_type[0].qty = 1
          } 
          else {
            var tempType = null
            tempType = room_type.find(item => item.name === room.room_type.name)

            if (tempType !== undefined) {
              tempType.qty += 1
            }

            if (tempType === undefined) {
              const temp = Object.assign({}, room.room_type)
              temp.qty = 1
              room_type.push(temp)
            }
          }
        })
        this.roomTypeReady = room_type
      },
      dateParse(year, month, day) {
        return year + '-' + ("0" + month).slice(-2) + '-' + ("0" + day).slice(-2)
      },
      addCart(room_type, bed_type) {
        if (room_type.qty > 0) {
          const data = {
            room_type: room_type,
            bed_type: bed_type
          }
          this.cartData.push(data)
          Cookies.set('cart', this.cartData)
          room_type.qty -= 1
        }
      }
    },
  }

</script>

<style lang="scss">
  

</style>
