// BUTTON
.btn {
  &.btn-solid {
    text-align: center;
    font-weight: 600;
    border-radius: 0;
    font-size: .79em;
    letter-spacing: 1.2px;
    padding: 12px 25px;
    width: auto;
    &.btn-sigah-primary {
      background: #C19B76;
      color: #fff;
    }
    &.btn-sigah-second {
      background: #000;
      color: #fff;
    }
  }
  &.btn-outline {
    background: transparent;
    text-align: center;
    font-weight: 600;
    border: 2px solid #000;
    border-radius: 0;
    font-size: .79em;
    letter-spacing: 1.2px;
    padding: 9px 25px;
    width: auto;
    &.btn-sigah-primary {
      border: 2px solid #C19B76;
      color: #C19B76;
      &:hover {
        border: 2px solid #1C1C1D;
        color: #1C1C1D;
      }
    }
    &.btn-sigah-second {
      border: 2px solid #1C1C1D;
      color: #1C1C1D;
      &:hover {
        border: 2px solid #C19B76;
        color: #C19B76;
      }
    }
  }
}
