a {
  &:hover {
    color: #C19B76 !important;
  }
}

.subheading {
  font-size: .8em;
  letter-spacing: 1.7px;
  font-weight: 300;
  color: #A8A8A8;
  text-align: center;
}

.headline {
  text-align: center;
  line-height: 54px;
}

h2 {
  font-family: 'Gilda Display', serif;
}
